<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IAdminDao">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Admin">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="tel" property="tel" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="id_number" property="idNumber" />
        <result column="sex" property="sex" />
        <result column="leader_id" property="leaderId" />
        <result column="store_id" property="storeId" />
        <result column="photo_img" property="photoImg" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="check_user_id" property="checkUserId" />
        <result column="hire_time" property="hireTime" />
        <result column="leave_time" property="leaveTime" />
        <result column="account_id" property="accountId" />
        <result column="client_type" property="clientType" />
        <result column="biz_scope" property="bizScope" />
        <result column="biz_desc" property="bizDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, no, name, phone, tel, type, state, id_number, sex, leader_id, store_id, photo_img, create_time, create_user_id, check_user_id, hire_time, leave_time, account_id, client_type, biz_scope, biz_desc
    </sql>



    <select id="findByUserId" resultType="com.cjyc.common.model.entity.Admin">
        select
        <include refid="Base_Column_List"/>
        from b_admin
        where user_id = #{userId}
    </select>
    <select id="findStoreBizScope" resultType="java.lang.Long">
        select
        store_id
        from b_admin_store_con
        where admin_id = #{adminId}
    </select>

    <!-- 根据承运商id获取Admin -->
    <select id="getByCarrierId" resultType="com.cjyc.common.model.entity.Admin" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from b_admin
        where carrier_id = #{carrierId}
    </select>
    <select id="findListByUserIds" resultType="com.cjyc.common.model.entity.Admin">
        select
        <include refid="Base_Column_List"/>
        from b_admin
        <where>
            state = 2
            and user_id in
            <foreach collection="userIds" index="index" item ="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="deliverySalesman" resultType="com.cjyc.common.model.vo.web.admin.TypeSalesmanVo"
                parameterType="com.cjyc.common.model.dto.web.salesman.TypeSalesmanDto">
        SELECT
            admin.id AS adminId,
            admin.NAME AS NAME,
            admin.phone AS phone,
            s.NAME AS storeName
        FROM
          b_admin admin
        LEFT JOIN s_store s ON s.id = admin.store_id
        <where>
            <if test="name != null and name.trim() != ''">
                admin.name like CONCAT('%',#{name},'%')
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  admin.phone = #{phone}
            </if>
            <if test="storeId != null">
                and  admin.store_id = #{storeId}
            </if>
            and admin.state = 2
            AND admin.type = 1
        </where>
    </select>
    <select id="findByPhone" resultType="com.cjyc.common.model.entity.Admin">
        select
        <include refid="Base_Column_List"/>
        from b_admin
        where phone = #{phone}
    </select>

</mapper>
