<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IAdminPromoteDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.AdminPromote">
        <id column="id" property="id" />
        <result column="channel" property="channel" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="customer_num_valid" property="customerNumValid" />
        <result column="income_amount" property="incomeAmount" />
        <result column="settling_amount" property="settlingAmount" />
        <result column="unsettle_amount" property="unsettleAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channel, user_id, user_name, customer_num_valid, income_amount, settling_amount, unsettle_amount, create_time, update_time
    </sql>

    <!--分页查询分享列表-->
    <select id="selectPage" parameterType="com.cjyc.common.model.dto.promote.AdminPromoteQueryDto"
            resultType="com.cjyc.common.model.vo.web.promote.AdminPromoteVo">
        select
            promote.id,
            promote.channel,
            promote.user_id as userId,
            promote.user_name as userName,
            detail.customer_id as customerId,
            detail.customer_name as customerName,
            detail.create_time as createTime
        from
            b_admin_promote promote
        left join b_admin_promote_detail detail on promote.user_id=detail.promote_user_id
        <where>
            <if test="channel != null and channel.trim() != ''">
                and promote.channel like CONCAT('%',#{channel},'%')
            </if>
            <if test="userName != null and userName.trim() != ''">
                and promote.user_name like CONCAT('%',#{userName},'%')
            </if>
            <if test="customerName != null and customerName.trim() != ''">
                and detail.customer_name like CONCAT('%',#{customerName},'%')
            </if>
            <if test="registerTimeStart != null and registerTimeStart != 0">
                and detail.create_time >= #{registerTimeStart}
            </if>
            <if test="registerTimeEnd != null and registerTimeEnd != 0">
                and detail.create_time &lt;= #{registerTimeEnd}
            </if>
        </where>
        order by detail.create_time desc
    </select>

</mapper>
