<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IAdminDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Admin">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="tel" property="tel" />
        <result column="job" property="job" />
        <result column="state" property="state" />
        <result column="id_number" property="idNumber" />
        <result column="sex" property="sex" />
        <result column="leader_id" property="leaderId" />
        <result column="store_id" property="storeId" />
        <result column="photo_img" property="photoImg" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="check_user_id" property="checkUserId" />
        <result column="hire_time" property="hireTime" />
        <result column="leave_time" property="leaveTime" />
        <result column="account_id" property="accountId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, no, name, phone, tel, job, state, id_number, sex, leader_id, store_id, photo_img, create_time, create_user_id, check_user_id, hire_time, leave_time, account_id
    </sql>
    <select id="findByUserId" resultType="com.cjyc.common.model.entity.Admin">
        select
        <include refid="Base_Column_List"/>
        from b_admin
        where user_id = #{userId}

    </select>

</mapper>
