<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IAppVersionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.AppVersion">
        <id column="id" property="id" />
        <result column="system_type" property="systemType" />
        <result column="app_type" property="appType" />
        <result column="version" property="version" />
        <result column="is_update" property="isUpdate" />
        <result column="message" property="message" />
        <result column="url" property="url" />
        <result column="is_active" property="isActive" />
        <result column="create_use_id" property="createUseId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_type, app_type, version, is_update, message, url, is_active, create_use_id, create_time, update_user_id, update_time
    </sql>

</mapper>
