<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IBankInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.BankInfo">
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bank_code, bank_name
    </sql>

    <select id="findBankCode" resultType="com.cjyc.common.model.entity.BankInfo"
            parameterType="java.lang.String">
        SELECT
            <include refid="Base_Column_List"/>
          FROM
            s_bank_info
          where bank_name like concat('%',#{bankName},'%')
    </select>

    <!-- 获取全部银行信息(app) -->
    <select id="findAppBankInfo" resultType="com.cjyc.common.model.vo.web.bankInfo.BankInfoVo"
            parameterType="com.cjyc.common.model.dto.driver.mine.BankInfoDto">
        SELECT
        sbi.bank_code AS bankCode,
        sbi.bank_name AS bankName
        FROM
        s_bank_info sbi
        <where>
            <if test="keyword != null and keyword.trim() != ''">
                sbi.bank_name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <!-- 获取全部银行信息(web) -->
    <select id="findWebBankInfo" resultType="com.cjyc.common.model.vo.web.bankInfo.BankInfoVo"
            parameterType="com.cjyc.common.model.dto.KeywordDto">
        SELECT
            sbi.bank_code AS bankCode,
            sbi.bank_name AS bankName
        FROM
          s_bank_info sbi
        <where>
            <if test="keyword != null and keyword.trim() != ''">
                sbi.bank_name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>

</mapper>
