<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IBankCardBindDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.BankCardBind">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_type" property="userType" />
        <result column="card_type" property="cardType" />
        <result column="card_colour" property="cardColour" />
        <result column="province_name" property="provinceName" />
        <result column="area_name" property="areaName" />
        <result column="card_name" property="cardName" />
        <result column="pay_bank_no" property="payBankNo" />
        <result column="card_no" property="cardNo" />
        <result column="card_phone" property="cardPhone" />
        <result column="id_card" property="idCard" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="bank_licence" property="bankLicence" />
        <result column="description" property="description" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_type, card_type, card_colour, province_name, area_name, card_name, pay_bank_no , card_no, card_phone, id_card, bank_code, bank_name, bank_licence, description, state, create_time
    </sql>

    <!-- 根据用户userId和用户类型删除银行卡信息-->
    <delete id="removeBandCarBind" parameterType="java.lang.Long">
        delete from s_bank_card_bind where user_id = #{carrierId}
    </delete>

    <select id="findBinkCardInfo" resultType="com.cjyc.common.model.vo.driver.mine.BankCardVo"
                            parameterType="java.lang.Long">
        SELECT
            id AS cardId,
            card_type AS cardType,
            card_colour AS cardColour,
            province_name AS provinceName,
            area_name AS areaName,
            card_name AS cardName,
            bank_name AS bankName,
            card_no AS cardNo,
            card_phone AS cardPhone
          FROM
              s_bank_card_bind
          where user_id = #{carrierId} and state = 1
          order by create_time desc
    </select>

    <!-- 根据用户userId和用户类型删除银行卡信息-->
    <select id="findBankCardInfoNum" resultType="java.lang.Integer"
            parameterType="java.lang.Long">
        SELECT
            count( id )
        FROM
            s_bank_card_bind
        WHERE
            state = 1
            AND user_type = 2
            AND user_id = #{carrierId}
    </select>

    <!-- 获取用户银行卡信息-->
    <select id="findCustomerBankCardInfo" resultType="com.cjyc.common.model.vo.customer.customerInfo.CustomerCardInfoVo"
            parameterType="java.lang.Long">
        SELECT
            id AS cardId,
            card_type AS cardType,
            card_colour AS cardColour,
            province_name AS provinceName,
            area_name AS areaName,
            bank_name AS bankName,
            card_name AS cardName,
            card_no AS cardNo,
            card_phone AS cardPhone
        FROM
            s_bank_card_bind
        WHERE user_id = #{loginId} and state = 1
    </select>

</mapper>
