<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICarrierDriverConDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CarrierDriverCon">
        <id column="id" property="id" />
        <result column="carrier_id" property="carrierId" />
        <result column="driver_id" property="driverId" />
        <result column="mode" property="mode"/>
        <result column="state" property="state"/>
        <result column="role" property="role" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, carrier_id, driver_id, mode, state, role
    </sql>

    <!-- 根据承运商id获取司机ids -->
    <select id="getDriverIds" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT
            driver_id
        FROM
            d_carrier_driver_con
        WHERE
            carrier_id = #{carrierId}
    </select>

</mapper>
