<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICarrierDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Carrier">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="legal_name" property="legalName" />
        <result column="legal_id_card" property="legalIdCard" />
        <result column="linkman" property="linkman" />
        <result column="linkman_phone" property="linkmanPhone" />
        <result column="mode" property="mode" />
        <result column="bus_license_front_img" property="busLicenseFrontImg" />
        <result column="bus_license_back_img" property="busLicenseBackImg" />
        <result column="transport_license_front_img" property="transportLicenseFrontImg" />
        <result column="transport_license_back_img" property="transportLicenseBackImg" />
        <result column="bank_open_front_img" property="bankOpenFrontImg" />
        <result column="bank_open_back_img" property="bankOpenBackImg" />
        <result column="admin_num" property="adminNum" />
        <result column="default_admin_id" property="defaultAdminId" />
        <result column="driver_num" property="driverNum" />
        <result column="running_driver_num" property="runningDriverNum" />
        <result column="settle_type" property="settleType" />
        <result column="settle_period" property="settlePeriod" />
        <result column="settle_corporation" property="settleCorporation" />
        <result column="state" property="state" />
        <result column="business_state" property="businessState" />
        <result column="is_invoice" property="isInvoice" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="check_user_id" property="checkUserId" />
        <result column="check_time" property="checkTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, name, type, legal_name, legal_id_card, linkman, linkman_phone, mode, bus_license_front_img, bus_license_back_img, transport_license_front_img, transport_license_back_img, bank_open_front_img, bank_open_back_img, admin_num, default_admin_id, driver_num, running_driver_num, settle_type, settle_period, settle_corporation, state, business_state, is_invoice, create_user_id, create_time, check_user_id, check_time
    </sql>

    <!-- 根据司机id查询承运商 -->
    <select id="getCarrierById" resultType="com.cjyc.common.model.entity.Carrier"
            parameterType="java.lang.Long">
         SELECT
            carr.id AS id,
            carr.state AS state,
            carr.NAME AS NAME,
            carr.linkman_phone AS linkmanPhone
        FROM
            d_carrier carr
            left JOIN d_carrier_driver_con con ON con.carrier_id = carr.id
            left JOIN d_driver dri ON dri.id = con.driver_id
        WHERE
            dri.id = #{driverId}
    </select>

    <!-- 根据条件查询承运商 -->
    <select id="getCarrierByTerm" resultType="com.cjyc.common.model.vo.web.carrier.CarrierVo"
                                parameterType="com.cjyc.common.model.dto.web.carrier.SeleCarrierDto">
        SELECT
            dc.id AS carrierId,
            dc.dept_id AS deptId,
            dc.NAME AS NAME,
            dc.linkman AS linkman,
            dc.linkman_phone AS linkmanPhone,
            dc.legal_name AS legalName,
            dc.legal_id_card AS legalIdCard,
            dc.settle_type AS settleType,
            dc.settle_period AS settlePeriod,
            dc.bus_license_front_img AS busLicenseFrontImg,
            dc.bus_license_back_img AS busLicenseBackImg,
            dc.transport_license_front_img AS transportLicenseFrontImg,
            dc.transport_license_Back_img AS transportLicenseBackImg,
            dc.bank_open_front_img AS bankOpenFrontImg,
            dc.bank_open_Back_img AS bankOpenBackImg,
            dc.MODE AS MODE,
            dc.is_invoice AS isInvoice,
            dc.state AS state,
            sbcb.card_type AS cardType,
            sbcb.card_name AS cardName,
            sbcb.bank_name AS bankName,
            sbcb.card_no AS cardNo,
            ba.NAME AS operateName
        FROM
        d_carrier dc
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
        LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
        LEFT JOIN s_bank_card_bind sbcb ON sbcb.user_id = dc.id
        LEFT JOIN b_admin ba ON ba.id = dc.check_user_id
        <where>
            <if test="name != null and name.trim() != ''">
                dc.name like CONCAT('%',#{name},'%')
            </if>
            <if test="linkman != null and linkman.trim() != ''">
                and  dc.linkman = #{linkman}
            </if>
            <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and  dc.linkman_phone = #{linkmanPhone}
            </if>
            <if test="cardNo != null and cardNo.trim() != ''">
                and  sbcb.card_no = #{cardNo}
            </if>
            <if test="legalName != null and legalName.trim() != ''">
                and  dc.legal_name = #{legalName}
            </if>
            <if test="legalIdCard != null and legalIdCard.trim() != ''">
                and  dc.legal_id_card = #{legalIdCard}
            </if>
            <if test="isInvoice != null">
                and  dc.is_invoice = #{isInvoice}
            </if>
            <if test="settleType != null">
                and  dc.settle_type = #{settleType}
            </if>
            <if test="state != null">
                and  dc.state = #{state}
            </if>
            <if test="operateName != null and operateName.trim() != ''">
                and  ba.name like CONCAT('%',#{operateName},'%')
            </if>
             and dc.type = 2
        </where>
    </select>

    <!-- 根据承运商id查看承运商信息 -->
    <select id="showCarrierById" resultType="com.cjyc.common.model.vo.web.carrier.BaseCarrierVo"
                                parameterType="java.lang.Long">
        SELECT
            dc.id AS carrierId,
            dc.NAME AS NAME,
            dc.linkman AS linkman,
            dc.linkman_phone AS linkmanPhone,
            dc.legal_name AS legalName,
            dc.legal_id_card AS legalIdCard,
            dc.bus_license_front_img AS busLicenseFrontImg,
            dc.bus_license_back_img AS busLicenseBackImg,
            dc.transport_license_front_img AS transportLicenseFrontImg,
            dc.transport_license_back_img AS transportLicenseBackImg,
            dc.bank_open_front_img AS bankOpenFrontImg,
            dc.bank_open_back_img AS bankOpenBackImg,
            dc.settle_period,
            dc.settle_type AS settleType,
            dc.MODE AS MODE,
            dc.is_invoice AS isInvoice,
            sbcb.card_type AS cardType,
            sbcb.card_name AS cardName,
            sbcb.bank_name AS bankName,
            sbcb.card_no AS cardNo
        FROM
            d_carrier dc
            LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
            LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
            LEFT JOIN s_bank_card_bind sbcb ON sbcb.user_id = dc.id
          where dc.id = #{carrierId}
    </select>

    <!-- 调度出符合条件的承运商 -->
    <select id="getDispatchCarrier" resultType="com.cjyc.common.model.vo.web.carrier.DispatchCarrierVo"
            parameterType="com.cjyc.common.model.dto.web.carrier.DispatchCarrierDto">
        SELECT
            c.id AS carrierId,
            c.NAME AS NAME,
            c.linkman AS linkman,
            c.linkman_phone AS linkmanPhone,
            c.legal_name AS legalName,
            c.legal_id_card AS legalIdCard,
            c.settle_type AS settleType,
            c.settle_period AS settlePeriod,
            c.MODE AS MODE,
            c.is_invoice AS isInvoice
        FROM
            d_carrier c
        <where>
            <if test="name != null and name.trim() != ''">
                c.name like CONCAT('%',#{name},'%')
            </if>
            <if test="linkman != null and linkman.trim() != ''">
                and  c.linkman = #{linkman}
            </if>
            <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and  c.linkman_phone = #{linkmanPhone}
            </if>
            <if test="settleType != null">
                and  c.settle_type = #{settleType}
            </if>
            <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and  c.linkman_phone = #{linkmanPhone}
            </if>
            and c.type = 2
            AND c.business_state = 0 and c.state = 2
        </where>
    </select>

    <!-- 调度中心中提车干线调度中代驾和拖车列表 -->
    <select id="findTrailDriver" resultType="com.cjyc.common.model.vo.web.carrier.TrailCarrierVo"
                 parameterType="com.cjyc.common.model.dto.web.carrier.TrailCarrierDto">
        SELECT
            dc.id AS carrierId,
            dc.NAME AS businessName,
            dc.linkman AS NAME,
            dc.linkman_phone AS phone,
            dc.type AS type,
            dvr.plate_no AS plateNo,
            dc.legal_id_card AS idCard,
            dvr.carry_car_num AS carryCarNum,
            dvr.occupied_car_num AS occupiedCarNum,
            dvr.running_state AS runningState
        FROM
          d_carrier dc
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
        LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
        LEFT JOIN d_vehicle_running dvr ON dvr.driver_id = dd.id
        <where>
            <if test="name != null and name.trim() != ''">
                dc.name like CONCAT('%',#{name},'%')
            </if>
            <if test="mode != null ">
                and  dc.mode = #{mode}
            </if>
            <if test="type != null">
                and  dc.type = #{type}
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  dc.linkman_phone = #{phone}
            </if>
            <if test="idCard != null and idCard.trim() != ''">
                and  dc.legal_id_card = #{idCard}
            </if>
            <if test="plateNo != null and plateNo.trim() != ''">
                and  dvr.plate_no = #{plateNo}
            </if>
                AND dc.state = 2 and dc.business_state = 0
        </where>
    </select>

    <!--根据手机号查询承运商中是否存在-->
    <select id="existCarrier" resultType="com.cjyc.common.model.vo.web.carrier.ExistCarrierVo"
            parameterType="com.cjyc.common.model.dto.web.driver.DriverDto">
      SELECT
        dc.type AS type,
        dc.NAME AS NAME,
        dd.phone AS phone,
        dd.id_card AS idCard
      FROM
        d_carrier dc
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
        LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
        <where>
            <if test="(phone != null and phone.trim() != '') or (idCard != null and idCard.trim() != '')">
                (dd.phone = #{phone} or dd.id_card = #{idCard})
            </if>
            <if test="driverId != 0">
                and  dd.id  &lt;&gt; #{driverId}
            </if>
              limit 1
        </where>
    </select>

    <!--查询个人承运商中是否存在-->
    <select id="existPersonalCarrier" resultType="java.lang.Integer"
                        parameterType="com.cjyc.common.model.dto.web.mineCarrier.MyDriverDto">
        SELECT count(dc.id)
        FROM
            d_carrier dc
          LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
          LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
        <where>
            <if test="(phone != null and phone.trim() != '') or (idCard != null and idCard.trim() != '')">
                (dd.phone = #{phone} or dd.id_card = #{idCard})
            </if>
            and dc.type = 1
        </where>
    </select>

    <!--查询企业承运商中是否存在-->
    <select id="existBusinessCarrier" resultType="java.lang.Integer"
            parameterType="com.cjyc.common.model.dto.web.mineCarrier.MyDriverDto">
      SELECT count(dc.id)
        FROM
            d_carrier dc
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
        LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
        <where>
            <if test="driverId != 0">
                and dd.id &lt;&gt; #{driverId}
            </if>
                and dc.id = #{carrierId} and (dd.phone = #{phone} or dd.id_card = #{idCard}) and dc.type = 2
        </where>
    </select>

    <!--修改承运商时验证是否为该承运商下的司机-->
    <select id="existBusinessDriver" resultType="java.lang.Integer"
                    parameterType="com.cjyc.common.model.dto.web.carrier.CarrierDto">
        SELECT
        count( dc.id )
    FROM
        d_carrier dc
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.carrier_id = dc.id
        LEFT JOIN d_driver dd ON dd.id = dcdc.driver_id
     where dc.id = #{carrierId}  and dc.type = 2 and  dd.phone = #{linkmanPhone}  and  dd.id_card = #{legalIdCard}
    </select>
</mapper>
