<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICarrierCarCountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CarrierCarCount">
        <id column="id" property="id" />
        <result column="driver_id" property="driverId" />
        <result column="car_num" property="carNum" />
        <result column="income" property="income" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, driver_id, car_num, income
    </sql>

    <!-- 根据承运商id查询车数和总收入 -->
    <select id="count" resultType="com.cjyc.common.model.entity.CarrierCarCount" parameterType="java.lang.Long">
        SELECT
            IFNULL( sum( ddcc.car_num ), 0 ) AS carNum,
            IFNULL( SUM( ddcc.income ), 0 ) AS income
        FROM
            d_driver_car_count ddcc
        WHERE
            ddcc.driver_id IN (
        SELECT
            dcdc.driver_id
        FROM
            d_carrier_driver_con dcdc
            LEFT JOIN d_carrier dc ON dc.id = dcdc.carrier_id
        WHERE
            dc.id = #{carrierId})
    </select>

    <!-- 根据司机id统计司机运车数和总收入 -->
    <select id="driverCount" resultType="com.cjyc.common.model.entity.CarrierCarCount" parameterType="java.lang.Long">
        SELECT
            IFNULL( sum( car_num ),0) AS carNum,
            IFNULL( SUM( income ), 0 ) AS income
        FROM
            `d_driver_car_count`
        WHERE
            driver_id = #{driverId}
    </select>

</mapper>
