<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICarrierDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Carrier">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="register_name" property="registerName" />
        <result column="register_phone" property="registerPhone" />
        <result column="legal_name" property="legalName" />
        <result column="legal_id_card" property="legalIdCard" />
        <result column="legal_idcard_img" property="legalIdcardImg" />
        <result column="bus_license_front_img" property="busLicenseFrontImg" />
        <result column="bus_license_back_img" property="busLicenseBackImg" />
        <result column="transport_license_front_img" property="transportLicenseFrontImg" />
        <result column="transport_license_back_img" property="transportLicenseBackImg" />
        <result column="bank_open_front_img" property="bankOpenFrontImg" />
        <result column="bank_open_back_img" property="bankOpenBackImg" />
        <result column="linkman" property="linkman" />
        <result column="linkman_phone" property="linkmanPhone" />
        <result column="driver_mode" property="driverMode" />
        <result column="trailer_mode" property="trailerMode" />
        <result column="trunk_mode" property="trunkMode" />
        <result column="admin_num" property="adminNum" />
        <result column="default_admin_id" property="defaultAdminId" />
        <result column="driver_num" property="driverNum" />
        <result column="running_driver_num" property="runningDriverNum" />
        <result column="settle_type" property="settleType" />
        <result column="settle_period" property="settlePeriod" />
        <result column="settle_corporation" property="settleCorporation" />
        <result column="state" property="state" />
        <result column="business_state" property="businessState" />
        <result column="is_invoice" property="isInvoice" />
        <result column="create_user" property="createUser" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, name, type, register_name, register_phone, legal_name, legal_id_card, legal_idcard_img, bus_license_front_img, bus_license_back_img, transport_license_front_img, transport_license_back_img, bank_open_front_img, bank_open_back_img, linkman, linkman_phone, driver_mode, trailer_mode, trunk_mode, admin_num, default_admin_id, driver_num, running_driver_num, settle_type, settle_period, settle_corporation, state, business_state, is_invoice, create_user, create_user_id, create_time
    </sql>
    <!-- 根据司机id查询承运商 -->
    <select id="getCarrierById" resultType="com.cjyc.common.model.entity.Carrier"
            parameterType="java.lang.Long">
          SELECT
            carr.id as id,carr.state as state,carr.name as name,carr.linkman_phone as linkmanPhone
        FROM
            d_carrier carr
            JOIN d_carrier_driver_con con ON con.carrier_id = carr.id
            JOIN d_driver dri ON dri.id = con.driver_id
        WHERE
            dri.id = #{id}
    </select>

    <!-- 根据条件查询承运商 -->
    <select id="getCarrierByTerm" resultType="com.cjyc.common.model.vo.web.carrier.CarrierVo"
                                parameterType="com.cjyc.common.model.dto.web.carrier.SeleCarrierDto">
        SELECT
        carr.id AS id,
        carr.NAME AS NAME,
        carr.linkman AS linkman,
        carr.linkman_phone AS linkmanPhone,
        carr.legal_name AS legalName,
        carr.legal_id_card AS legalIdCard,
        carr.bus_license_front_img AS busLicenseFrontImg,
        carr.transport_license_front_img AS transportLicenseFrontImg,
        carr.bank_open_front_img AS bankOpenFrontImg,
        carr.settle_period,
        ( CASE carr.settle_type WHEN 1 THEN '时付' WHEN 2 THEN '账期' END ) AS settleType,
        ( CASE carr.MODE WHEN 1 THEN '代驾' WHEN 2 THEN '托运' WHEN 3 THEN '干线' WHEN 4 THEN '全支持' END ) AS MODE,
        ( CASE carr.is_invoice WHEN 0 THEN '否' WHEN 1 THEN '是' END ) AS isInvoice,
        ( CASE carr.state WHEN 0 THEN '待审核' WHEN 2 THEN '已审核' WHEN 4 THEN '已驳回' WHEN 7 THEN '已冻结' END ) AS state,
        ( CASE bind.card_type WHEN 1 THEN '公户' WHEN 2 THEN '私户' END ) AS cardType,
        bind.card_name AS cardName,
        bind.bank_name AS bankName,
        bind.card_no AS cardNo
    FROM
        d_carrier carr
        JOIN d_carrier_driver_con con ON con.carrier_id = carr.id
        JOIN d_driver dri ON dri.id = con.driver_id
        JOIN s_bank_card_bind bind ON bind.user_id = dri.user_id
        <where>
            <if test="name != null and name.trim() != ''">
                carr.name like CONCAT('%',#{name},'%')
            </if>
            <if test="linkman != null and linkman.trim() != ''">
                and  carr.linkman = #{linkman}
            </if>
            <if test="linkmanPhone != null and linkmanPhone.trim() != ''">
                and  carr.linkman_phone = #{linkmanPhone}
            </if>
            <if test="cardNo != null and cardNo.trim() != ''">
                and  bind.card_no = #{cardNo}
            </if>
            <if test="legalName != null and legalName != ''">
                and  carr.legal_name = #{legalName}
            </if>
            <if test="legalIdCard != null and legalIdCard != ''">
                and  carr.legal_id_card = #{legalIdCard}
            </if>
            <if test="isInvoice != null and isInvoice != ''">
                and  carr.is_invoice = #{isInvoice}
            </if>
            <if test="settleType != null and settleType != ''">
                and  carr.settle_type = #{settleType}
            </if>
            <if test="state != null and state != ''">
                and  carr.state = #{state}
            </if>
            <if test="createUser != null and createUser != ''">
                and  carr.create_user = #{createUser}
            </if>
        </where>
    </select>

    <!-- 根据承运商id查看承运商信息 -->
    <select id="showCarrierById" resultType="com.cjyc.common.model.vo.web.carrier.BaseCarrierVo"
                                parameterType="java.lang.Long">
      SELECT
            carr.id AS id,
            carr.NAME AS NAME,
            carr.linkman AS linkman,
            carr.linkman_phone AS linkmanPhone,
            carr.legal_name AS legalName,
            carr.legal_id_card AS legalIdCard,
            carr.bus_license_front_img AS busLicenseFrontImg,
            carr.bus_license_back_img AS busLicenseBackImg,
            carr.transport_license_front_img AS transportLicenseFrontImg,
            carr.transport_license_back_img AS transportLicenseBackImg,
            carr.bank_open_front_img AS bankOpenFrontImg,
            carr.bank_open_back_img AS bankOpenBackImg,
            carr.settle_period,
            ( CASE carr.settle_type WHEN 1 THEN '时付' WHEN 2 THEN '账期' END ) AS settleType,
            ( CASE carr.MODE WHEN 1 THEN '代驾' WHEN 2 THEN '托运' WHEN 3 THEN '干线' WHEN 4 THEN '全支持' END ) AS MODE,
            ( CASE carr.is_invoice WHEN 0 THEN '否' WHEN 1 THEN '是' END ) AS isInvoice,
            ( CASE bcb.card_type WHEN 1 THEN '公户' WHEN 2 THEN '私户' END ) AS cardType,
            bcb.card_name AS cardName,
            bcb.bank_name AS bankName,
            bcb.card_no AS cardNo
        FROM
            d_carrier carr
            JOIN d_carrier_driver_con cdc ON cdc.carrier_id = carr.id
            JOIN d_driver dri ON dri.id = cdc.driver_id
            JOIN s_bank_card_bind bcb ON bcb.user_id = dri.user_id
    </select>


</mapper>
