<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICarStorageLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CarStorageLog">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="type" property="type" />
        <result column="order_no" property="orderNo" />
        <result column="order_car_no" property="orderCarNo" />
        <result column="vin" property="vin" />
        <result column="brand" property="brand" />
        <result column="model" property="model" />
        <result column="freight" property="freight" />
        <result column="carry_type" property="carryType" />
        <result column="carrier_id" property="carrierId" />
        <result column="carrier" property="carrier" />
        <result column="driver" property="driver" />
        <result column="driver_id" property="driverId" />
        <result column="drvier_phone" property="drvierPhone" />
        <result column="vehicle_plate_no" property="vehiclePlateNo" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, type, order_no, order_car_no, vin, brand, model, freight, carry_type, carrier_id, carrier, driver, driver_id, drvier_phone, vehicle_plate_no, create_time, create_user_id, create_user
    </sql>
    <select id="findList" resultType="com.cjyc.common.model.entity.CarStorageLog">
        select
        <include refid="Base_Column_List"/>
        from w_car_storage_log
        <where>
            and type = #{paramsDto.type}
            <if test="paramsDto.storeId != null">
                and store_id =#{paramsDto.storeId}
            </if>
            <if test="paramsDto.orderNo != null and paramsDto.orderNo.trim() != ''">
                and order_no =#{paramsDto.orderNo}
            </if>
            <if test="paramsDto.orderCarNo != null and paramsDto.orderCarNo.trim() != ''">
                and order_car_no =#{paramsDto.orderCarNo}
            </if>
            <if test="paramsDto.vin != null and paramsDto.vin.trim() != ''">
                and vin =#{paramsDto.vin}
            </if>
            <if test="paramsDto.brand != null and paramsDto.brand.trim() != ''">
                and brand =#{paramsDto.brand}
            </if>
            <if test="paramsDto.model != null and paramsDto.model.trim() != ''">
                and model =#{paramsDto.model}
            </if>
            <if test="paramsDto.carryType != null">
                and carry_type =#{paramsDto.carryType}
            </if>
            <if test="paramsDto.carrierId != null">
                and carrier_id =#{paramsDto.carrierId}
            </if>
            <if test="paramsDto.carrier != null and paramsDto.carrier.trim() != ''">
                and carrier =#{paramsDto.carrier}
            </if>
            <if test="paramsDto.driver != null and paramsDto.driver.trim() != ''">
                and driver =#{paramsDto.driver}
            </if>
            <if test="paramsDto.driverId != null">
                and driver_id =#{paramsDto.driverId}
            </if>
            <if test="paramsDto.drvierPhone != null and paramsDto.drvierPhone.trim() != ''">
                and drvier_phone =#{paramsDto.drvierPhone}
            </if>
            <if test="paramsDto.vehiclePlateNo != null and paramsDto.vehiclePlateNo.trim() != ''">
                and vehicle_plate_no =#{paramsDto.vehiclePlateNo}
            </if>
            <if test="paramsDto.startCreateTime != null">
                and create_time &gt;= #{paramsDto.startCreateTime}
            </if>
            <if test="paramsDto.endCreateTime != null">
                and create_time &lt;= #{paramsDto.endCreateTime}
            </if>
            <if test="paramsDto.createUserId != null">
                and create_user_id =#{paramsDto.createUserId}
            </if>
            <if test="paramsDto.createUser != null and paramsDto.createUser.trim() != ''">
                and create_user =#{paramsDto.createUser}
            </if>
        </where>
    </select>

</mapper>
