<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IChinaPostalCodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.ChinaPostalCode">
        <id column="id" property="id" />
        <result column="province_name" property="provinceName" />
        <result column="area_name" property="areaName" />
        <result column="postal_code" property="postalCode" />
        <result column="area_code" property="areaCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, province_name, area_name, postal_code, area_code, create_user_id, create_time, update_user_id, update_time
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="TreeResultMap" type="com.cjyc.common.model.vo.web.postal.ProvinceVo">
        <result column="provinceName" property="provinceName" />
        <collection property="areaVoList" ofType="com.cjyc.common.model.vo.web.postal.AreaVo" javaType="java.util.List">
            <result column="areaName" property="areaName" />
            <result column="postalCode" property="postalCode" />
            <result column="areaCode" property="areaCode" />
        </collection>
    </resultMap>

    <!-- 获取关键字获取省/地区 -->
    <select id="findPostal" resultMap="TreeResultMap">
        SELECT
            province_name AS provinceName,
            area_name AS areaName,
            postal_code AS postalCode,
            area_code AS areaCode
        FROM
          s_china_postal_code
        <where>
            <if test="keyword != null and keyword.trim() != ''">
                (province_name like concat('%',#{keyword},'%')  or area_name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

</mapper>
