<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICityDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.City">
        <id column="code" property="code" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="parent_code" property="parentCode" />
        <result column="parent_name" property="parentName" />
        <result column="pin_yin" property="pinYin" />
        <result column="pin_initial" property="pinInitial" />
        <result column="pin_acronym" property="pinAcronym" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="hot" property="hot" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, name, level, parent_code, parent_name, pin_yin, pin_initial, pin_acronym, lng, lat, hot
    </sql>
    <select id="findChildList" resultType="com.cjyc.common.model.entity.City">
        select
        <include refid="Base_Column_List"/>
        from s_city c1
        join s_city c2 on c1.parent_code = c2.code
        where c2.code = #{code,jdbcType=VARCHAR}
    </select>

    <select id="getList" resultType="hashmap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from s_city where 1=1
        <choose>
            <when test="cityCode != null and cityCode != ''">
                and parent_code = #{cityCode}
            </when>
            <otherwise >
                and level = 1
            </otherwise>
        </choose>
    </select>

    <!--通过城市编码查询上一级 -->
    <select id="getProvinceCityByCode" resultType="com.cjyc.common.model.vo.web.city.ProvinceCityVo" parameterType="java.lang.String">
        SELECT
            c1.CODE AS cityCode,
            c1.NAME AS cityName,
            c2.CODE AS provinceCode,
            c2.NAME AS provinceName
        FROM
            s_city c1
            JOIN s_city c2 ON c2.CODE = c1.parent_code
        WHERE c1.code = #{code}
    </select>

    <!--获取树形结构 -->
    <select id="getAllByLevel" resultType="com.cjyc.common.model.vo.web.city.CityTreeVo" parameterType="java.lang.Integer">
         SELECT
            NAME AS NAME,
            CODE AS CODE,
            parent_code AS parentCode
        FROM
            s_city
        where level >= #{startLevel} and level &lt;= #{endLevel}
    </select>

    <!--根据关键字获取省/城市集合 -->
    <select id="getCityTreeByKeyword" resultType="com.cjyc.common.model.entity.City" parameterType="java.lang.String">
        select
          <include refid="Base_Column_List"/>
        from s_city  where name concat(concat('%',#{name}),'%')
    </select>

    <select id="findListByLevel" resultType="com.cjyc.common.model.vo.web.city.TreeCityVo">
        select
         `name`,`code`,level
        from s_city
        where level = #{level}
    </select>

</mapper>
