<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICityDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.City">
        <id column="code" property="code" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="parent_code" property="parentCode" />
        <result column="parent_name" property="parentName" />
        <result column="pin_yin" property="pinYin" />
        <result column="pin_initial" property="pinInitial" />
        <result column="pin_acronym" property="pinAcronym" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="hot" property="hot" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="TreeResultMap" type="com.cjyc.common.model.vo.customer.city.ProvinceTreeVo">
        <result column="provinceCode" property="provinceCode" />
        <result column="provinceName" property="provinceName" />
        <collection property="cityVos" ofType="com.cjyc.common.model.vo.customer.city.CityTreeVo" javaType="java.util.List">
            <result column="cityCode" property="cityCode" />
            <result column="cityName" property="cityName" />
            <collection property="cityVos" ofType="com.cjyc.common.model.vo.customer.city.AreaTreeVo" javaType="java.util.List">
                <result column="areaParentCode" property="areaParentCode" />
                <result column="areaCode" property="areaCode" />
                <result column="areaName" property="areaName" />
            </collection>
        </collection>
    </resultMap>

    <!-- 三级城市查询 -->
    <select id="findThreeCity" resultMap="TreeResultMap">
        SELECT
            sc1.CODE AS provinceCode,
            sc1.NAME AS provinceName,
            sc2.CODE AS cityCode,
            sc2.NAME AS cityName,
            sc3.parent_code as areaParentCode,
            sc3.CODE AS areaCode,
            sc3.NAME AS areaName
        FROM
          s_city sc1
        JOIN s_city sc2 ON sc2.parent_code = sc1.CODE
        JOIN s_city sc3 ON sc3.parent_code = sc2.CODE
        <where>
            <if test="keyword != null and keyword.trim() != ''">
                (sc1.name like concat('%',#{keyword},'%')  or sc2.name like concat('%',#{keyword},'%') or sc3.name like concat('%',#{keyword},'%'))
            </if>
            <if test="code != null and code.size() > 0">
                and sc1.parent_code in
                <foreach collection="code" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            and sc1.LEVEL >= 1 AND sc1.LEVEL &lt;= 3 GROUP BY sc3.CODE
        </where>
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, name, level, parent_code, parent_name, pin_yin, pin_initial, pin_acronym, lng, lat, hot,remark
    </sql>
    <select id="findChildList" resultType="com.cjyc.common.model.entity.City">
        select
        <include refid="Base_Column_List"/>
        from s_city
        where parent_code = #{code,jdbcType=VARCHAR}
    </select>

    <select id="getList" resultType="hashmap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from s_city where 1=1
        <choose>
            <when test="cityCode != null and cityCode != ''">
                and parent_code = #{cityCode}
            </when>
            <otherwise >
                and level = 1
            </otherwise>
        </choose>
    </select>

    <!--通过城市编码查询上一级 -->
    <select id="getProvinceCityByCode" resultType="com.cjyc.common.model.vo.web.city.ProvinceCityVo" parameterType="java.lang.String">
        SELECT
            c1.CODE AS cityCode,
            c1.NAME AS cityName,
            c2.CODE AS provinceCode,
            c2.NAME AS provinceName
        FROM
            s_city c1
            JOIN s_city c2 ON c2.CODE = c1.parent_code
        WHERE c1.code = #{code}
    </select>

    <!--获取树形结构 -->
    <select id="getAllByLevel" resultType="com.cjyc.common.model.vo.CityTreeVo" parameterType="java.lang.Integer">
         SELECT
            NAME AS NAME,
            CODE AS CODE,
            parent_code AS parentCode
        FROM
            s_city
        where level >= #{startLevel} and level &lt;= #{endLevel}
        and code != '000008'
    </select>

    <!--根据关键字获取省/城市集合 -->
    <select id="getCityTreeByKeyword" resultType="com.cjyc.common.model.entity.City" parameterType="java.lang.String">
        select
          <include refid="Base_Column_List"/>
        from s_city  where (name like concat('%',#{name},'%') or parent_name like concat('%',#{name},'%')) and level in (1,2)
    </select>

    <!--根据城市编码获取省市集合 -->
    <select id="getCityByCodes" resultType="com.cjyc.common.model.vo.CityTreeVo">
        SELECT
            NAME AS NAME,
            CODE AS CODE,
            parent_code AS parentCode
            FROM
        s_city where code in
        <foreach collection="codeSet" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
          and level in (1,2)
    </select>

    <!--根据城市名称模糊匹配查询城市code -->
    <select id="getCodeByName" resultType="com.cjyc.common.model.entity.City" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/> from s_city where name like concat('%',#{name},'%') and level = 2
    </select>


    <!--获取热门城市 -->
    <select id="getHotCity" resultType="com.cjyc.common.model.vo.customer.city.HotCityVo">
        SELECT
            s1.NAME AS NAME,
            s1.CODE AS CODE,
            s2.NAME AS areaName,
            s2.CODE AS areaCode
        FROM
            s_city s1
            LEFT JOIN s_city s2 ON s1.CODE = s2.parent_code
        WHERE
            s1.hot = 1
        GROUP BY
            s1.CODE
    </select>

    <select id="findListByLevel" resultType="com.cjyc.common.model.vo.web.city.TreeCityVo">
        select
         `name`,`code`,level
        from s_city
        where level = #{level}
    </select>
    <select id="findFullCityVo" resultType="com.cjyc.common.model.entity.defined.FullCity">
        select
        c1.`name` as area,
        c1.code as areaCode,
        c2.`name` as city,
        c2.`code` as cityCode,
        c2.parent_name as province,
        c2.parent_code as provinceCode
        from s_city c1
        join s_city c2 on c1.parent_code = c2.`code`
        where c1.code = #{areaCode}

    </select>
    <select id="find5LevelFullCity" resultType="com.cjyc.common.model.entity.defined.FullCity">
        select
            c1.`name` as area,
            c1.code as areaCode,
            c2.`name` as city,
            c2.`code` as cityCode,
            c3.`name` as city,
            c3.`code` as cityCode,
            c4.`name` as city,
            c4.`code` as cityCode,
            c4.parent_name as province,
            c4.parent_code as provinceCode
        from s_city c1
        join s_city c2 on c1.parent_code = c2.`code`
        join s_city c3 on c2.parent_code = c3.`code`
        join s_city c4 on c3.parent_code = c4.`code`
        where c1.code = #{areaCode}
    </select>
    <select id="find4LevelFullCity" resultType="com.cjyc.common.model.entity.defined.FullCity">
        select
            c1.`name` as area,
            c1.code as areaCode,
            c2.`name` as city,
            c2.`code` as cityCode,
            c3.`name` as city,
            c3.`code` as cityCode,
            c3.parent_name as province,
            c3.parent_code as provinceCode
        from s_city c1
        join s_city c2 on c1.parent_code = c2.`code`
        join s_city c3 on c2.parent_code = c3.`code`
        where c1.code = #{areaCode}
    </select>
    <select id="findFullCity" resultType="com.cjyc.common.model.entity.defined.FullCity">
        select
            c1.`name` as area,
            c1.code as areaCode,
            c2.`name` as city,
            c2.`code` as cityCode,
            c2.parent_name as province,
            c2.parent_code as provinceCode
        from s_city c1
        join s_city c2 on c1.parent_code = c2.`code`
        where c1.code = #{areaCode}
    </select>
    <select id="find2LevelFullCity" resultType="com.cjyc.common.model.entity.defined.FullCity">
        select
            c1.`name` as area,
            c1.code as areaCode,
            c1.parent_name as province,
            c1.parent_code as provinceCode
        from s_city c1
        where c1.code = #{areaCode}
    </select>

    <!--分页查询城市信息-->
    <select id="selectCityList" parameterType="com.cjyc.common.model.dto.web.city.CityQueryDto"
            resultType="com.cjyc.common.model.entity.defined.FullCity">
        SELECT
            t2.regionCode,
            t2.region,
            t2.provinceCode,
            t2.province,
            t2.cityCode,
            t2.city,
            c4.CODE AS areaCode,
            c4.NAME AS area
        FROM
            (
            SELECT
                t1.regionCode,
                t1.region,
                t1.provinceCode,
                t1.province,
                c3.CODE AS cityCode,
                c3.NAME AS city
            FROM
                (
            SELECT
                c1.CODE AS regionCode,
                c1.`name` AS region,
                c2.`code` AS provinceCode,
                c2.`name` AS province
            FROM
                s_city c1
                JOIN s_city c2 ON c1.CODE = c2.parent_code
            WHERE
                c1.LEVEL = 0
                ) t1
                JOIN s_city c3 ON t1.provinceCode = c3.parent_code
                ) t2
                JOIN s_city c4 ON t2.cityCode = c4.parent_code
        <where>
            <if test="regionCode != null and regionCode.trim() != ''">
                and t2.regionCode=#{regionCode}
            </if>
            <if test="provinceCode != null and provinceCode.trim() != ''">
                and t2.provinceCode=#{provinceCode}
            </if>
            <if test="cityCode != null and cityCode.trim() != ''">
                and t2.cityCode=#{cityCode}
            </if>
            <if test="areaCode != null and areaCode.trim() != ''">
                and c4.code=#{areaCode}
            </if>
        </where>
    </select>

    <!--根据条件查询省，市，区-->
    <select id="selectStoreAreaList" parameterType="com.cjyc.common.model.dto.web.city.StoreDto"
            resultType="com.cjyc.common.model.entity.defined.FullCity">
        SELECT
            t1.provinceCode,
            t1.province,
            t1.cityCode,
            t1.city,
            c3.CODE AS areaCode,
            c3.NAME AS area
        FROM
            (
            SELECT
            c1.CODE AS provinceCode,
            c1.`name` AS province,
            c2.CODE AS cityCode,
            c2.NAME AS city
            FROM
            s_city c1
            JOIN s_city c2 ON c1.CODE = c2.parent_code
            WHERE
            c1.LEVEL = 1
            ) t1
            JOIN s_city c3 ON t1.cityCode = c3.parent_code
        <where>
            <if test="provinceCode != null and provinceCode.trim() != ''">
                and t1.provinceCode=#{provinceCode}
            </if>
            <if test="cityCode != null and cityCode.trim() != ''">
                and t1.cityCode=#{cityCode}
            </if>
            <if test="areaCode != null and areaCode.trim() != ''">
                and c3.code=#{areaCode}
            </if>
        </where>
    </select>
    <select id="findFullCityByCityCode" resultType="com.cjyc.common.model.entity.defined.FullCity">
        select
            c1.`name` as city,
            c1.code as cityCode,
            c2.`name` as province,
            c2.`code` as provinceCode,
            c2.parent_name as region,
            c2.parent_code as regionCode
        from s_city c1
        join s_city c2 on c1.parent_code = c2.`code`
        where c1.code = #{cityCode}
    </select>

    <!--根据条件查询业务中心覆盖区-->
    <select id="selectCoveredList" parameterType="com.cjyc.common.model.dto.web.city.StoreDto"
            resultType="com.cjyc.common.model.entity.defined.FullCity">
        SELECT
            t1.provinceCode,
            t1.province,
            t1.cityCode,
            t1.city,
            c3.CODE AS areaCode,
            c3.NAME AS area
        FROM
            (
            SELECT
            c1.CODE AS provinceCode,
            c1.`name` AS province,
            c2.CODE AS cityCode,
            c2.NAME AS city
            FROM
            s_city c1
            JOIN s_city c2 ON c1.CODE = c2.parent_code
            WHERE
            c1.LEVEL = 1
            ) t1
            JOIN s_city c3 ON t1.cityCode = c3.parent_code
        <where>
            c3.code in (select area_code from s_store_city_con where store_id = #{storeId})
            <if test="provinceCode != null and provinceCode.trim() != ''">
                and t1.provinceCode=#{provinceCode}
            </if>
            <if test="cityCode != null and cityCode.trim() != ''">
                and t1.cityCode=#{cityCode}
            </if>
            <if test="areaCode != null and areaCode.trim() != ''">
                and c3.code=#{areaCode}
            </if>
        </where>
    </select>

    <!--根据条件查询业务中心未覆盖区-->
    <select id="selectNoCoveredList" parameterType="com.cjyc.common.model.dto.web.city.StoreDto"
            resultType="com.cjyc.common.model.entity.defined.FullCity">
        SELECT
            t1.provinceCode,
            t1.province,
            t1.cityCode,
            t1.city,
            c3.CODE AS areaCode,
            c3.NAME AS area
        FROM
            (
            SELECT
            c1.CODE AS provinceCode,
            c1.`name` AS province,
            c2.CODE AS cityCode,
            c2.NAME AS city
            FROM
            s_city c1
            JOIN s_city c2 ON c1.CODE = c2.parent_code
            WHERE
            c1.LEVEL = 1
            ) t1
            JOIN s_city c3 ON t1.cityCode = c3.parent_code
        <where>
            c3.code not in (select area_code from s_store_city_con)
            <if test="provinceCode != null and provinceCode.trim() != ''">
                and t1.provinceCode=#{provinceCode}
            </if>
            <if test="cityCode != null and cityCode.trim() != ''">
                and t1.cityCode=#{cityCode}
            </if>
            <if test="areaCode != null and areaCode.trim() != ''">
                and c3.code=#{areaCode}
            </if>
        </where>
    </select>

    <!--根据城市/区名称模糊匹配查询城市code -->
    <select id="findCodeByName" resultType="java.lang.String">
        select code from s_city where name like concat('%',#{name},'%') and parent_name like concat('%',#{parentName},'%')  and level = #{level}
    </select>

    <!--根据省名称模糊匹配查询城市code -->
    <select id="findProvinceCode" resultType="java.lang.String">
        select code from s_city where name like concat('%',#{name},'%')  and level = 1
    </select>

    <!--根据城市编码获取城市相关信息 -->
    <select id="findCityByCode" resultType="com.cjyc.common.model.entity.City"
            parameterType="java.lang.String">
        select <include refid="Base_Column_List"/>
            from s_city where code = #{cityCode}
    </select>

</mapper>
