<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICouponSendDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CouponSend">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="customer_id" property="customerId" />
        <result column="coupon_no" property="couponNo" />
        <result column="is_use" property="isUse" />
        <result column="receive_time" property="receiveTime" />
        <result column="use_time" property="useTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, customer_id, coupon_no, is_use, receive_time, use_time
    </sql>

    <!-- 获取领取/消耗张数 -->
    <select id="getReceiveNum" resultType="java.lang.Integer">
        SELECT
            count(id)
        FROM
            c_coupon_send
        <where>
            <if test="isUse != null ">
                is_use = #{isUse}
            </if>
             and coupon_id = #{couponId}
        </where>
    </select>

    <!-- 根据条件查询发放优惠券列表 -->
    <select id="seleCouponSendByTerm" resultType="com.cjyc.common.model.vo.web.coupon.CouponSendVo"
            parameterType="com.cjyc.common.model.dto.web.coupon.SeleCouponSendDto">
        select id as id,use_time as useTime,customer_name as customerName,order_no as orderNo,discount_amount as disAmount,final_order_amount as finOrdAmount
               from c_coupon_send
        <where>
            <if test="couponId != null and couponId.trim() != ''">
                id = #{couponId}
            </if>
            <if test="customerName != null and customerName.trim() != ''">
                and  customer_name = #{customerName}
            </if>
            <if test="orderNo != null and orderNo.trim() != ''">
                and  order_no = #{orderNo}
            </if>
            <if test="startDate != null and startDate.trim() != ''">
                and  use_time >=  #{startDate}
            </if>
            <if test="endDate != null and endDate.trim() != ''">
                and  use_time &lt;= #{endDate}
            </if>
        </where>
    </select>

    <!-- 根据用户编号查询所属自己的优惠券 -->
    <select id="getCustomerCouponById" resultType="com.cjyc.common.model.vo.customer.coupon.CustomerCouponVo"
            parameterType="java.lang.Long">
      SELECT
            c.NAME AS NAME,
            c.type AS type,
            c.end_period_date AS endPeriodDate,
            c.is_forever AS isForever,
            send.is_use AS isUse
        FROM
            c_coupon c
            LEFT JOIN c_coupon_send send ON c.id = send.coupon_id
        WHERE
            c.state = 2
    </select>

    <!-- 根据用户编号查询所属自己的优惠券 -->
    <select id="getCustomerCoupon" resultType="com.cjyc.common.model.vo.web.coupon.CustomerCouponSendVo"
                                    parameterType="java.lang.Long">
        SELECT
            send.id AS couponSendId,
            coupon.NAME AS NAME,
            coupon.type AS type,
            coupon.full_amount AS fullAmount,
            coupon.cut_amount AS cutAmount,
            coupon.discount AS discount,
            coupon.end_period_date AS endPeriodDate
        FROM
            c_coupon coupon
            JOIN c_coupon_send send ON send.coupon_id = coupon.id
         where
            send.customer_id = #{customerId} and send.is_use = 0

    </select>
</mapper>
