<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Coupon">
        <id column="id" property="id" />
        <result column="coupon_no" property="couponNo" />
        <result column="coupon_name" property="couponName" />
        <result column="coupon_type" property="couponType" />
        <result column="full_amount" property="fullAmount" />
        <result column="cut_amount" property="cutAmount" />
        <result column="discount" property="discount" />
        <result column="grant_num" property="grantNum" />
        <result column="receive_num" property="receiveNum" />
        <result column="consume_num" property="consumeNum" />
        <result column="expire_dele_num" property="expireDeleNum" />
        <result column="surplus_avail_num" property="surplusAvailNum" />
        <result column="is_forever" property="isForever" />
        <result column="start_period_date" property="startPeriodDate" />
        <result column="end_period_date" property="endPeriodDate" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_no, coupon_name, coupon_type, full_amount, cut_amount, discount, grant_num, receive_num, consume_num, expire_dele_num, surplus_avail_num, is_forever, start_period_date, end_period_date, state, create_time, create_user_id
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Query_Column_List">
        id as id ,coupon_name as couponName,grant_num as grantNum,receive_num as receiveNum,consume_num as consumeNum,
                expire_dele_num as expireDeleNum,surplus_avail_num as surplusAvailNum,start_period_date as startPeriodDate,end_period_date as endPeriodDate,
                create_time as createTime,full_amount as fullAmount,cut_amount as cutAmount,discount as discount,
                (case coupon_type when 0 then '满减'
                                   when 3 then '直减'
                                   when 5 then '折扣'
                                   end) as couponType,
                (case state  when  0  then '待审核'
                              when  3  then '审核通过'
                              when  5  then '审核不通过'
                              when  7  then '已作废'
                              end) as state,
                (case is_forever when 0 then ''
                                  when 1 then '永久'
                                  end) as isForever
    </sql>

    <!-- 查询所有优惠券 -->
    <select id="getAllCoupon" resultType="com.cjyc.common.model.vo.web.coupon.CouponVo">
        select
        <include refid="Query_Column_List"/>
            from c_coupon
    </select>

    <!-- 根据筛选条件查询优惠券 -->
    <select id="getCouponByTerm" resultType="com.cjyc.common.model.vo.web.coupon.CouponVo"
                                 parameterType="com.cjyc.common.model.dto.web.coupon.SeleCouponDto">
      select
        <include refid="Query_Column_List"/>
          from c_coupon
        <where>
            <if test="couponName != null and couponName.trim() != ''">
                coupon_name like CONCAT('%',#{couponName},'%')
            </if>
            <if test="couponType != null and couponType.trim() != ''">
                and  coupon_type = #{couponType}
            </if>
            <if test="state != null and state.trim() != ''">
                and  state =  #{state}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                and  create_time >=  #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                and  create_time &lt;= #{endTime}
            </if>
            <if test="createName != null and createName.trim() != ''">
                and  create_user_id like CONCAT('%',#{createName},'%')
            </if>
        </where>
    </select>

</mapper>
