<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Coupon">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="full_amount" property="fullAmount" />
        <result column="cut_amount" property="cutAmount" />
        <result column="discount" property="discount" />
        <result column="grant_num" property="grantNum" />
        <result column="is_forever" property="isForever" />
        <result column="start_period_date" property="startPeriodDate" />
        <result column="end_period_date" property="endPeriodDate" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, full_amount, cut_amount, discount, grant_num, is_forever, start_period_date, end_period_date, state, create_time, create_user_id
    </sql>

    <!-- 根据筛选条件查询优惠券 -->
    <select id="getCouponByTerm" resultType="com.cjyc.common.model.vo.web.coupon.CouponVo"
                                 parameterType="com.cjyc.common.model.dto.web.coupon.SeleCouponDto">
        SELECT
            cc.id AS couponId,
            cc.NAME AS NAME,
            cc.type AS type,
            cc.full_amount AS fullAmount,
            cc.cut_amount AS cutAmount,
            cc.discount AS discount,
            cc.grant_num AS grantNum,
            cc.start_period_date AS startPeriodDate,
            cc.end_period_date AS endPeriodDate,
            cc.create_time AS createTime,
            cc.state AS state,
            cc.is_forever AS isForever,
            ba.name as createName
        FROM
          c_coupon cc
        LEFT JOIN b_admin ba ON ba.id = cc.create_user_id
        <where>
            <if test="name != null and name.trim() != ''">
                cc.name like CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                and cc.type = #{type}
            </if>
            <if test="state != null">
                and cc.state =  #{state}
            </if>
            <if test="startTime != null">
                and  cc.create_time >=  #{startTime}
            </if>
            <if test="endTime != null">
                and  cc.create_time &lt; #{endTime}
            </if>
            <if test="createName != null and createName.trim() != ''">
                and  ba.name like CONCAT('%',#{createName},'%')
            </if>
        </where>
          order by cc.create_time desc
    </select>

    <!-- 查询优惠券消耗明细 -->
    <select id="getConsumeDetail" resultType="com.cjyc.common.model.vo.web.coupon.ConsumeCouponVo"
                            parameterType="com.cjyc.common.model.dto.web.coupon.ConsumeCouponDto">
        SELECT
            cc.id AS couponId,
            ccs.id AS sendId,
            ccs.coupon_no AS couponNo,
            ccs.use_time AS useTime,
            wo.customer_name AS customerName,
            wo.NO AS orderNo,
            wo.coupon_offset_fee AS couponOffsetFee,
            (
            ifnull( SUM( wo.pick_fee + wo.trunk_fee + wo.back_fee + wo.add_insurance_fee ), 0 ) - ifnull( wo.coupon_offset_fee, 0 )
            ) AS finalOrderAmount
        FROM
          c_coupon_send ccs
        LEFT JOIN c_coupon cc ON cc.id = ccs.coupon_id
        LEFT JOIN w_order wo ON wo.coupon_send_id = ccs.id
        <where>
            <if test="couponNo != null and couponNo.trim() != ''">
                ccs.coupon_no = #{couponNo}
            </if>
            <if test="customerName != null and customerName.trim() != ''">
                and wo.customer_name = #{customerName}
            </if>
            <if test="orderNo != null and orderNo.trim() != ''">
                and wo.no =  #{orderNo}
            </if>
            <if test="startUseDate != null">
                and  ccs.use_time >=  #{startUseDate}
            </if>
            <if test="endUseDate != null">
                and  ccs.use_time &lt;= #{endUseDate}
            </if>
                and cc.id = #{couponId}
        </where>
    </select>

    <!-- 查询客户优惠券 -->
    <select id="getCustomerCouponByTerm" resultType="com.cjyc.common.model.vo.web.customer.CustomerCouponVo"
                                        parameterType="com.cjyc.common.model.dto.web.customer.CustomerCouponDto">
        SELECT
            ccs.id AS sendId,
            ccs.coupon_no AS couponNo,
            cc.type AS type,
            cc.full_amount AS fullAmount,
            cc.cut_amount AS cutAmount,
            cc.discount AS discount,
            cc.is_forever AS isForever,
            cc.start_period_date AS startPeriodDate,
            cc.end_period_date AS endPeriodDate,
            ccs.receive_time AS receiveTime,
            ccs.is_use AS isUse
        FROM
          c_coupon_send ccs
        LEFT JOIN c_coupon cc ON cc.id = ccs.coupon_id
        LEFT JOIN c_customer c ON c.id = ccs.customer_id
        <where>
            <if test="type != null">
                cc.type = #{type}
            </if>
            <if test="startPeriodTime != null">
                and  cc.start_period_date >=  #{startPeriodTime}
            </if>
            <if test="endPeriodTime != null">
                and  cc.end_period_date &lt; #{endPeriodTime}
            </if>
            and ccs.customer_id = #{customerId}
        </where>
    </select>

</mapper>
