<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Coupon">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="full_amount" property="fullAmount" />
        <result column="cut_amount" property="cutAmount" />
        <result column="discount" property="discount" />
        <result column="grant_num" property="grantNum" />
        <result column="is_forever" property="isForever" />
        <result column="start_period_date" property="startPeriodDate" />
        <result column="end_period_date" property="endPeriodDate" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, full_amount, cut_amount, discount, grant_num, is_forever, start_period_date, end_period_date, state, create_time, create_user_id
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Query_Column_List">
        id AS id,
        NAME AS NAME,
        grant_num AS grantNum,
        start_period_date AS startPeriodDate,
        end_period_date AS endPeriodDate,
        create_time AS createTime,
        full_amount AS fullAmount,
        cut_amount AS cutAmount,
        discount AS discount,
        type AS type,
        state AS state,
        is_forever AS isForever
    </sql>

    <!-- 根据筛选条件查询优惠券 -->
    <select id="getCouponByTerm" resultType="com.cjyc.common.model.vo.web.coupon.CouponVo"
                                 parameterType="com.cjyc.common.model.dto.web.coupon.SeleCouponDto">
      select
        <include refid="Query_Column_List"/>
          from c_coupon
        <where>
            <if test="name != null and name.trim() != ''">
                name like CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="state != null">
                and state =  #{state}
            </if>
            <if test="startTime != null">
                and  create_time >=  #{startTime}
            </if>
            <if test="endTime != null">
                and  create_time &lt;= #{endTime}
            </if>
            <if test="createUserId != null">
                and  create_user_id = #{createUserId}
            </if>
        </where>
    </select>

    <!-- 查询优惠券消耗明细 -->
    <select id="getConsumeDetail" resultType="com.cjyc.common.model.vo.web.coupon.ConsumeCouponVo"
                            parameterType="com.cjyc.common.model.dto.web.coupon.ConsumeCouponDto">
          SELECT
            send.coupon_no AS couponNo,
            send.use_time AS useTime,
            o.customer_name AS customerName,
            o.NO AS orderNo,
            o.coupon_offset_fee AS couponOffsetFee,
            (
            ifnull( SUM( o.pick_fee + o.trunk_fee + o.back_fee + o.add_insurance_fee ), 0 ) - ifnull( o.coupon_offset_fee, 0 )

        ) AS finalOrderAmount
        FROM
            c_coupon coupon
            JOIN c_coupon_send send ON send.coupon_id = coupon.id
            JOIN w_order o ON o.coupon_send_id = send.id
        <where>
            <if test="couponNo != null and couponNo.trim() != ''">
                send.coupon_no = #{couponNo}
            </if>
            <if test="customerName != null and customerName.trim() != ''">
                and o.customer_name = #{customerName}
            </if>
            <if test="orderNo != null and orderNo.trim() != ''">
                and o.no =  #{orderNo}
            </if>
            <if test="startUseDate != null">
                and  send.use_time >=  #{startUseDate}
            </if>
            <if test="endUseDate != null">
                and  send.use_time &lt;= #{endUseDate}
            </if>
                and coupon.id = #{id}
        </where>
    </select>

    <!-- 查询客户优惠券 -->
    <select id="getCustomerCouponByTerm" resultType="com.cjyc.common.model.vo.web.customer.CustomerCouponVo"
                                        parameterType="com.cjyc.common.model.dto.web.customer.CustomerCouponDto">
        SELECT
            send.id AS sendId,
            send.coupon_no AS couponNo,
            coupon.type AS type,
            coupon.full_amount AS fullAmount,
            coupon.cut_amount AS cutAmount,
            coupon.discount AS discount,
            coupon.is_forever AS isForever,
            coupon.start_period_date AS startPeriodDate,
            coupon.end_period_date AS endPeriodDate,
            send.receive_time AS receiveTime,
            send.is_use as isUse
        FROM
              c_coupon_send send
            LEFT JOIN c_coupon coupon ON coupon.id = send.coupon_id
            LEFT JOIN c_customer c ON c.id = send.customer_id
        <where>
            <if test="type != null">
                coupon.type = #{type}
            </if>
            <if test="startPeriodTime != null">
                and  coupon.start_period_date >=  #{startPeriodTime}
            </if>
            <if test="endPeriodTime != null">
                and  coupon.end_period_date &lt;= #{endPeriodTime}
            </if>
            and send.customer_id = #{customerId}
        </where>
    </select>

</mapper>
