<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICustomerContractDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CustomerContract">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="customer_id" property="customerId" />
        <result column="settle_period" property="settlePeriod" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, customer_id, settle_period
    </sql>

</mapper>
