<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICustomerContractDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CustomerContract">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="contract_no" property="contractNo" />
        <result column="contact_nature" property="contactNature" />
        <result column="settle_type" property="settleType" />
        <result column="settle_period" property="settlePeriod" />
        <result column="contract_life" property="contractLife" />
        <result column="project_name" property="projectName" />
        <result column="project_level" property="projectLevel" />
        <result column="major_product" property="majorProduct" />
        <result column="project_nature" property="projectNature" />
        <result column="pro_tra_volume" property="proTraVolume" />
        <result column="avg_mth_tra_volume" property="avgMthTraVolume" />
        <result column="busi_cover" property="busiCover" />
        <result column="fixed_route" property="fixedRoute" />
        <result column="project_deper" property="projectDeper" />
        <result column="project_leader" property="projectLeader" />
        <result column="leader_phone" property="leaderPhone" />
        <result column="project_status" property="projectStatus" />
        <result column="is_active" property="isActive" />
        <result column="project_team_per" property="projectTeamPer" />
        <result column="project_estab_time" property="projectEstabTime" />
        <result column="major_kpi" property="majorKpi" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, contract_no, contact_nature, settle_type, settle_period, contract_life, project_name, project_level, major_product, project_nature, pro_tra_volume, avg_mth_tra_volume, busi_cover, fixed_route, project_deper, project_leader, leader_phone, project_status,is_active, project_team_per, project_estab_time, major_kpi , create_time
    </sql>

    <!-- 根据customerId删除大客户合同 -->
    <delete id="removeKeyContract" parameterType="java.lang.Long" >
        delete from c_customer_contract where customer_id = #{customerId}
    </delete>

    <!-- 根据customerId查询大客户合同 -->
    <select id="getCustContractByCustId"
            resultType="com.cjyc.common.model.vo.web.customer.CustomerContractVo"
            parameterType="java.lang.Long">
       SELECT
            id AS contractId,
            contract_no AS contractNo,
            contact_nature AS contactNature,
            settle_Type AS settleType,
            settle_period AS settlePeriod,
            contract_life AS contractLife,
            project_name AS projectName,
            project_level AS projectLevel,
            major_product AS majorProduct,
            project_nature AS projectNature,
            pro_tra_volume AS proTraVolume,
            avg_mth_tra_volume AS avgMthTraVolume,
            busi_cover AS busiCover,
            fixed_route AS fixedRoute,
            project_deper AS projectDeper,
            project_leader AS projectLeader,
            leader_phone AS leaderPhone,
            project_status AS projectStatus,
            project_team_per AS projectTeamPer,
            project_estab_time AS projectEstabTime,
            major_kpi AS majorKpi,
            create_time as createTime
        FROM
            c_customer_contract
        WHERE
            customer_id = #{customerId} and is_active = 1
    </select>


</mapper>
