<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICustomerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Customer">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="contact_man" property="contactMan" />
        <result column="contact_phone" property="contactPhone" />
        <result column="contact_address" property="contactAddress" />
        <result column="customer_nature" property="customerNature" />
        <result column="social_credit_code" property="socialCreditCode" />
        <result column="initial" property="initial" />
        <result column="photo_img" property="photoImg" />
        <result column="sex" property="sex" />
        <result column="id_card" property="idCard" />
        <result column="id_card_front_img" property="idCardFrontImg" />
        <result column="id_card_back_img" property="idCardBackImg" />
        <result column="type" property="type" />
        <result column="source" property="source" />
        <result column="company_id" property="companyId" />
        <result column="state" property="state" />
        <result column="pay_mode" property="payMode" />
        <result column="register_time" property="registerTime" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="check_time" property="checkTime" />
        <result column="check_user_id" property="checkUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, name, alias, contact_man, contact_phone, contact_address, customer_nature, social_credit_code, initial, photo_img, sex, id_card, id_card_front_img, id_card_back_img, type, source, company_id, state, pay_mode, register_time, create_time, create_user_id, check_time, check_user_id
    </sql>
    <!-- 通过手机号，姓名，身份证号查询 -->
    <select id="findCustomer" resultType="com.cjyc.common.model.vo.web.CustomerVo" parameterType="com.cjyc.common.model.dto.web.customer.SelectCustomerDto">
        select id as id,user_id as userId, phone as phone,contact_man as contactMan,id_card as idCard,id_card_front_img as idCardFrontImg,
                id_card_back_img as idCardBackImg,register_time as registerTime
        from c_customer
        <where>
            <if test="phone != null and phone.trim() != ''">
                   phone = #{phone}
            </if>
            <if test="name != null  and name.trim() != ''">
                and   name = #{name}
            </if>
            <if test="idCard != null and idCard.trim() != ''">
                and   id_card = #{idCard}
            </if>
                and type = 1
        </where>
    </select>

    <!-- 查询所有大客户用户-->
    <select id="getAllKeyCustomter" resultType="com.cjyc.common.model.vo.web.ListKeyCustomerVo">
        select id as id, name as name,alias as alias,contact_man as contactMan,phone as phone,customer_nature as customerNature,major_bus_des as majorBusDes,create_time as createTime
                from c_customer where type = 2
    </select>

    <!-- 通过客户编号，客户全称，客户简称等条件查询 -->
    <select id="findKeyCustomter" resultType="com.cjyc.common.model.vo.web.ListKeyCustomerVo" parameterType="com.cjyc.common.model.dto.web.customer.SelectKeyCustomerDto">
        select  id as id, name as name,alias as alias,contact_man as contactMan,phone as phone,
                customer_nature as customerNature,major_bus_des as majorBusDes,create_time as createTime,create_user_id as createUserId
        from c_customer
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null and name.trim() != ''">
                and   name = #{name}
            </if>
            <if test="alias != null  and alias.trim() != ''">
                and  alias = #{alias}
            </if>
            <if test="contactMan != null  and contactMan.trim() != ''">
                and contact_man = #{contactMan}
            </if>
            <if test="phone != null  and phone.trim() != ''">
                and  phone = #{phone}
            </if>
            <if test="createUserId != null and createUserId.trim() != ''">
                and create_user_id = #{createUserId}
            </if>
                and type = 2
        </where>
    </select>
    <select id="findByPhone" resultType="com.cjyc.common.model.entity.Customer">
        select
        <include refid="Base_Column_List"/>
        from c_customer
        where phone = #{phone}

    </select>
    <select id="findFuzzyList" resultType="com.cjyc.common.model.vo.web.customer.CustomerFuzzyListVo">
        select
            user_id as useId,
            `name`,
            alias,
            contact_phone as contactPhone,
            contact_man as contactMan,
            contact_address as contactAddress
        from c_customer
        <where>
            <if test="paramsDto.type != null">
               and type = #{paramsDto.type}
            </if>
            <if test="paramsDto.info != null and paramsDto.info !=''">
               and concat(name,alias,contact_phone,contact_man) like concat('%',#{paramsDto.info},'%')
            </if>
        </where>
    </select>

    <select id="getAllCustomerByKey" resultType="com.cjyc.common.model.entity.Customer"
                                    parameterType="java.lang.String">
        select
            <include refid="Base_Column_List"/>
        from c_customer
        <where>
            <if test="keyword != null and keyword.trim() !=''">
                and concat(name,contact_phone,contact_man) like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

</mapper>
