<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICustomerPartnerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CustomerPartner">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="is_taxpayer" property="isTaxpayer" />
        <result column="is_invoice" property="isInvoice" />
        <result column="settle_type" property="settleType" />
        <result column="settle_period" property="settlePeriod" />
        <result column="business_license_front_img" property="businessLicenseFrontImg" />
        <result column="business_license_back_img" property="businessLicenseBackImg" />
        <result column="legal_idCard_front_img" property="legalIdcardFrontImg" />
        <result column="legal_idCard_back_img" property="legalIdcardBackImg" />
        <result column="linkman_idCard_front_img" property="linkmanIdcardFrontImg" />
        <result column="linkman_idCard_back_img" property="linkmanIdcardBackImg" />
        <result column="authorization_front_img" property="authorizationFrontImg" />
        <result column="authorization_back_img" property="authorizationBackImg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, is_taxpayer, is_invoice, settle_type, settle_period, business_license_front_img, business_license_back_img, legal_idCard_front_img, legal_idCard_back_img, linkman_idCard_front_img, linkman_idCard_back_img, authorization_front_img, authorization_back_img
    </sql>


    <!-- 根据合伙人userId获取合伙人附带信息 -->
    <select id="getPartnerByUserId" resultType="com.cjyc.common.model.entity.CustomerPartner"
                                            parameterType="java.lang.Long">
      select
        <include refid="Base_Column_List"/>
      from c_customer_partner
    </select>

    <!-- 根据合伙人id删除合伙人附加信息 -->
    <delete id="removeByCustomerId" parameterType="java.lang.Long">
        delete from c_customer_partner where customer_id = #{customerId}
    </delete>

</mapper>
