<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICustomerCountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CustomerCount">
        <id column="id" property="id" />
        <result column="customer_user_id" property="customerUserId" />
        <result column="order_no" property="orderNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_user_id, order_no
    </sql>

    <!-- 根据用户userId统计用户下单量，运车量，总金额-->
    <select id="count" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT
            sum( o.NO ) AS totalOrder,
            sum( o.car_num ) AS totalCar,
            IFNULL( SUM( o.total_fee ), 0 ) AS totalAmount
        FROM
            w_order o
            JOIN c_customer_count c ON c.order_no = o.NO
        WHERE
            c.user_id = #{userId}
            AND o.state = 100
    </select>

</mapper>
