<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ICustomerCountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.CustomerCount">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="order_no" property="orderNo" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, order_no, create_time
    </sql>

    <!-- 根据用户userId统计用户下单量，运车量，总金额-->
    <select id="count" resultType="com.cjyc.common.model.vo.web.customer.CustomerCountVo" parameterType="java.lang.Long">
        SELECT
            IFNULL(count( wo.NO ),0) AS totalOrder,
            IFNULL(sum( wo.car_num ),0) AS totalCar,
            IFNULL( SUM( wo.total_fee ), 0 ) AS totalAmount
        FROM
            w_order wo
            JOIN c_customer_count ccc ON ccc.order_no = wo.NO
        WHERE
            ccc.customer_id = #{customerId}
            group by ccc.customer_id
    </select>

</mapper>
