<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IFinanceReceiptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.FinanceReceipt">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="source" property="source" />
        <result column="type" property="type" />
        <result column="channel" property="channel" />
        <result column="amount" property="amount" />
        <result column="real_amount" property="realAmount" />
        <result column="pay_state" property="payState" />
        <result column="pay_time" property="payTime" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, customer_name, source, type, channel, amount, real_amount, pay_state, pay_time, remark, create_time
    </sql>

</mapper>
