<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IFinanceDao">

    <select id="getFinanceList" parameterType="com.cjyc.common.model.dto.web.finance.FinanceQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.FinanceVo">
        select woc.no,woc.vin,woc.brand,woc.model,woc.order_no as orderNo,
        zcity.name as largeArea,
        wo.input_store_name as inputStoreName,wo.start_address as startAddress,
        wo.end_address as endAddress,
        wt.complete_time as deliveryDate,

        wo.customer_id as customerId,
        wo.customer_type as type,cc.name as customerName,
        cc.pay_mode as payMode,
        if(wo.customer_type=3,woc.total_fee,0) as feeShare,
        if(wo.customer_type=3,(woc.total_fee-woc.agency_fee),woc.total_fee) as freightReceivable,
        woc.wl_pay_time as receivedTime,

        wwc.freight_fee as totalCost

        from w_order_car woc
        left join w_order wo on woc.order_no = wo.no
        left join c_customer cc on wo.customer_id = cc.id
        left join w_waybill_car wwc on woc.id = wwc.order_car_id
        left join w_task_car wtc on wtc.waybill_car_id = wwc.id
        left join w_task wt on wtc.task_id = wt.id
        left join zcity zc on zc.code = wo.start_province_code
        left join zcity zcity on zcity.code = zc.parent_code
        where 1=1
        <if test="no != null and no.trim() != ''">
            and woc.no like concat('%',#{no},'%')
        </if>
        <if test="vin != null and vin.trim() != ''">
            and  woc.vin = #{vin}
        </if>
        <if test="orderNo != null and orderNo.trim() != ''">
            and  woc.order_no like concat('%',#{orderNo},'%')
        </if>
        <if test="completeStartTime!= null">
            and wt.complete_time &gt;= #{completeStartTime}
        </if>
        <if test="completeEndTime!= null">
            and wt.complete_time &lt;= #{completeEndTime}
        </if>

        <if test="startProvinceCode != null and startProvinceCode.trim() != ''">
            and wo.start_province = #{startProvinceCode}
        </if>
        <if test="startCityCode != null and startCityCode.trim() != ''">
            and wo.start_city = #{startCityCode}
        </if>
        <if test="startAreaCode != null and startAreaCode.trim() != ''">
            and wo.start_area = #{startAreaCode}
        </if>
        <if test="endProvinceCode != null and endProvinceCode.trim() != ''">
            and wo.end_province = #{endProvinceCode}
        </if>
        <if test="endCityCode != null and endCityCode.trim() != ''">
            and wo.end_city = #{endCityCode}
        </if>
        <if test="endAreaCode != null and endAreaCode.trim() != ''">
            and wo.end_area = #{endAreaCode}
        </if>

        <if test="type != null">
            and cc.type = #{type}
        </if>
        <if test="customerName != null  and customerName.trim() != ''">
            and  cc.name  like concat('%',#{customerName},'%')
        </if>
        <if test="payMode != null">
            and  cc.pay_mode =#{payMode}
        </if>

        <if test="brand != null and brand.trim() != ''">
            and cc.brand = #{brand}
        </if>
        <if test="model != null and model.trim() != ''">
            and cc.model = #{model}
        </if>
        <if test="inputStoreName != null and inputStoreName.trim() != ''">
            and wo.input_store_name = #{inputStoreName}
        </if>

        <if test="state != null and state.trim() !=''">
            and woc.wl_pay_state = #{state}
        </if>
        <if test="receiveStartTime!= null">
            and wt.wl_pay_time &lt;= #{receiveStartTime}
        </if>
        <if test="receiveEndTime!= null">
            and wt.wl_pay_time &lt;= #{receiveEndTime}
        </if>

    </select>

    <select id="getFee" parameterType="map" resultType="java.math.BigDecimal">
        select IFNULL(sum(wwc.freight_fee),0)

        from w_waybill_car wwc
        left join w_waybill ww on wwc.waybill_no = ww.no
        left join d_carrier dc on ww.carrier_id = dc.id
        where wwc.order_car_no = #{orderCarNo} and ww.type = #{type}
        order by ww.create_time desc
    </select>

    <select id="getTrunkCostList" parameterType="map" resultType="com.cjyc.common.model.vo.web.finance.TrunkLineVo">
        select ww.carrier_name as name,wwc.freight_fee as freightFee,ww.freight_pay_time as payTime,
        dc.settle_type as settleType

        from w_waybill_car wwc
        left join w_waybill ww on wwc.waybill_no = ww.no
        left join d_carrier dc on ww.carrier_id = dc.id
        where wwc.order_car_no = #{orderCarNo} and ww.type = #{type}
        order by ww.create_time desc
    </select>

    <select id="getFinanceReceiptList" parameterType="com.cjyc.common.model.dto.web.finance.FinanceQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.FinanceReceiptVo">
        select woc.no,woc.vin,woc.brand,woc.model,cc.id,cc.type,
        cc.pay_mode as payMode,
        if(cc.pay_mode=0,'时付','账期') as payModeName,
        wwc.freight_fee as freightReceivable,
        wo.start_province,wo.start_city,
        wo.start_area,wo.end_province,wo.end_city,wo.end_area,
        woc.order_no,woc.now_area_code,wo.input_store_id,
        wo.input_store_name,wt.complete_time,
        cc.contact_phone as contactPhone,
        wo.customer_name as customerName
        from w_order_car woc
        left join w_order wo on woc.order_id = wo.id
        left join c_customer cc on cc.id = wo.customer_id
        left join w_waybill_car wwc on wwc.order_car_no = woc.no
        left join w_task wt on wt.waybill_no = wwc.waybill_no

        where cc.pay_mode=1
        <if test="no != null and no.trim() != ''">
            and woc.no like concat('%',#{no},'%')
        </if>
        <if test="vin != null and vin.trim() != ''">
            and  woc.vin = #{vin}
        </if>
        <if test="orderNo != null and orderNo.trim() != ''">
            and  woc.order_no like concat('%',#{orderNo},'%')
        </if>
        <if test="completeStartTime!= null">
            and wt.complete_time &gt;= #{completeStartTime}
        </if>
        <if test="completeEndTime!= null">
            and wt.complete_time &lt;= #{completeEndTime}
        </if>

        <if test="startProvinceCode != null and startProvinceCode.trim() != ''">
            and wo.start_province = #{startProvinceCode}
        </if>
        <if test="startCityCode != null and startCityCode.trim() != ''">
            and wo.start_city = #{startCityCode}
        </if>
        <if test="startAreaCode != null and startAreaCode.trim() != ''">
            and wo.start_area = #{startAreaCode}
        </if>
        <if test="endProvinceCode != null and endProvinceCode.trim() != ''">
            and wo.end_province = #{endProvinceCode}
        </if>
        <if test="endCityCode != null and endCityCode.trim() != ''">
            and wo.end_city = #{endCityCode}
        </if>
        <if test="endAreaCode != null and endAreaCode.trim() != ''">
            and wo.end_area = #{endAreaCode}
        </if>

        <if test="type != null">
            and cc.type = #{type}
        </if>
        <if test="customerName != null  and customerName.trim() != ''">
            and  cc.name  like concat('%',#{customerName},'%')
        </if>
        <if test="payMode != null">
            and  cc.pay_mode =#{payMode}
        </if>

        <if test="brand != null and brand.trim() != ''">
            and cc.brand = #{brand}
        </if>
        <if test="model != null and model.trim() != ''">
            and cc.model = #{model}
        </if>
        <if test="inputStoreName != null and inputStoreName.trim() != ''">
            and wo.input_store_name = #{inputStoreName}
        </if>

    </select>

    <select id="getPaymentList" parameterType="com.cjyc.common.model.dto.web.finance.FinanceQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.PaymentVo">
        select woc.no,woc.vin,woc.brand,woc.model,
        cc.id,cc.type,
        if(cc.pay_mode=0,'时付','账期') as payModeName,woc.total_fee as freightReceivable,
        woc.total_fee as freightPay,
        woc.order_no as orderNo,
        wo.start_province,wo.start_city,
        wo.start_address as startAddress,
        wo.end_address as endAddress,
        woc.now_area_code,wo.input_store_id,
        wo.input_store_name as inputStoreName,
        wt.complete_time as deliveryDate,wo.customer_name as customerName
        from w_order_car woc
        left join w_order wo on woc.order_id = wo.id
        left join c_customer cc on cc.id = wo.customer_id
        left join w_waybill_car wwc on wwc.order_car_no = woc.no
        left join w_task wt on wt.waybill_no = wwc.waybill_no

        where cc.pay_mode = 0
        <if test="no != null and no.trim() != ''">
            and woc.no like concat('%',#{no},'%')
        </if>
        <if test="vin != null and vin.trim() != ''">
            and  woc.vin = #{vin}
        </if>
        <if test="orderNo != null and orderNo.trim() != ''">
            and  woc.order_no like concat('%',#{orderNo},'%')
        </if>

        <if test="type != null">
            and cc.type = #{type}
        </if>
        <if test="customerName != null  and customerName.trim() != ''">
            and  cc.name  like concat('%',#{customerName},'%')
        </if>
        <if test="payMode != null">
            and  cc.pay_mode =#{payMode}
        </if>

        <if test="brand != null and brand.trim() != ''">
            and cc.brand = #{brand}
        </if>
        <if test="model != null and model.trim() != ''">
            and cc.model = #{model}
        </if>
        <if test="inputStoreName != null and inputStoreName.trim() != ''">
            and wo.input_store_name = #{inputStoreName}
        </if>
        <if test="completeStartTime!= null">
            and wt.complete_time &gt;= #{completeStartTime}
        </if>
        <if test="completeEndTime!= null">
            and wt.complete_time &lt;= #{completeEndTime}
        </if>
        <if test="startProvinceCode != null and startProvinceCode.trim() != ''">
            and wo.start_province = #{startProvinceCode}
        </if>
        <if test="startCityCode != null and startCityCode.trim() != ''">
            and wo.start_city = #{startCityCode}
        </if>
        <if test="startAreaCode != null and startAreaCode.trim() != ''">
            and wo.start_area = #{startAreaCode}
        </if>
        <if test="endProvinceCode != null and endProvinceCode.trim() != ''">
            and wo.end_province = #{endProvinceCode}
        </if>
        <if test="endCityCode != null and endCityCode.trim() != ''">
            and wo.end_city = #{endCityCode}
        </if>
        <if test="endAreaCode != null and endAreaCode.trim() != ''">
            and wo.end_area = #{endAreaCode}
        </if>
    </select>
    <select id="getPaidList" parameterType="com.cjyc.common.model.dto.web.finance.PayMentQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.PaidVo">
        select ww.no as waybillNo,ww.complete_time as completeTime,
        ww.freight_fee as freightFee,ww.type,
        if(dc.settle_type=0,'时付','账期') as settleType,
        ww.guide_line as guideLine,ww.carrier_id,
        ww.carrier_name as carrierName,
        wt.driver_name as driverName,
        wt.driver_phone as driverPhone,
        wt.vehicle_plate_no as vehiclePlateNo
        from w_waybill ww
        left join d_carrier dc on dc.id=ww.carrier_id
        left join w_task wt on wt.waybill_id = ww.id
        where dc.settle_type=0
        <if test="waybillNo != null and waybillNo.trim() != ''">
            and ww.no like concat('%',#{waybillNo},'%')
        </if>
        <if test="completeStartTime!= null">
            and ww.complete_time &gt;= #{completeStartTime}
        </if>
        <if test="completeEndTime!= null">
            and ww.complete_time &lt;= #{completeEndTime}
        </if>
        <if test="waybillType!= null">
            and ww.type =#{waybillType}
        </if>
        <if test="invoiceNo!= null and invoiceNo.trim() != ''">
        </if>
        <if test="pingPayNo!= null and pingPayNo.trim() != ''">
        </if>
        <if test="carrierName!= null and carrierName.trim() != ''">
            and ww.carrier_name like concat('%',#{carrierName},'%')
        </if>
        <if test="driverName!= null and driverName.trim() != ''">
            and wt.driver_name like concat('%',#{driverName},'%')
        </if>
        <if test="driverPhone!= null and driverPhone.trim() != ''">
            and wt.driver_phone like concat('%',#{driverPhone},'%')
        </if>
    </select>

    <select id="getCollectReceiveList" parameterType="com.cjyc.common.model.dto.web.finance.CollectReceiveQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.CollectReceiveVo">
        select ww.no as wayBillNo,ww.type as wayBillType
        from w_waybill ww

        where 1=1
        <if test="waybillNo != null and waybillNo.trim() != ''">
            and ww.no like concat('%',#{waybillNo},'%')
        </if>
        <if test="wayBillType!= null">
            and ww.type = #{wayBillType}
        </if>
        <if test="collectMan !=null and collectMan.trim() !=''">

        </if>
        <if test="collectManPhone !=null and collectManPhone.trim() !=''">

        </if>
        <if test="returnStatus !=null and returnStatus.trim() !=''">

        </if>

    </select>
</mapper>