<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IFinanceDao">

    <select id="getFinanceList" parameterType="com.cjyc.common.model.dto.web.finance.FinanceQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.FinanceVo">
        select DISTINCT(woc.no),woc.vin,woc.brand,woc.model,woc.order_no as orderNo,
        zcity.name as largeArea,
        wo.input_store_name as inputStoreName,wo.start_address as startAddress,
        wo.end_address as endAddress,
        wt.complete_time as deliveryDate,

        wo.customer_id as customerId,
        wo.customer_type as type,cc.name as customerName,
        cc.pay_mode as payMode,
        if(wo.customer_type=3,woc.total_fee,null) as feeShare,
        (woc.pick_fee+woc.trunk_fee+woc.back_fee+woc.add_insurance_fee) as freightReceivable,
        if(woc.wl_pay_state=2,woc.total_fee,null) as amountReceived,
        if(woc.wl_pay_state=2,(woc.pick_fee+woc.trunk_fee+woc.back_fee+woc.add_insurance_fee),0) as totalIncome,
        woc.wl_pay_time as receivedTime

        from w_order_car woc
        left join w_order wo on woc.order_no = wo.no
        left join c_customer cc on wo.customer_id = cc.id
        left join w_waybill_car wwc on woc.id = wwc.order_car_id
        left join w_task_car wtc on wtc.waybill_car_id = wwc.id
        left join w_task wt on wtc.task_id = wt.id
        left join zcity zc on zc.code = wo.start_province_code
        left join zcity zcity on zcity.code = zc.parent_code
        <where>
            <if test="no != null and no.trim() != ''">
                and woc.no like concat('%',#{no},'%')
            </if>
            <if test="vin != null and vin.trim() != ''">
                and  woc.vin = #{vin}
            </if>
            <if test="orderNo != null and orderNo.trim() != ''">
                and  woc.order_no like concat('%',#{orderNo},'%')
            </if>
            <if test="completeStartTime!= null">
                and wt.complete_time &gt;= #{completeStartTime}
            </if>
            <if test="completeEndTime!= null">
                and wt.complete_time &lt;= #{completeEndTime}
            </if>

            <if test="startProvinceCode != null and startProvinceCode.trim() != ''">
                and wo.start_province = #{startProvinceCode}
            </if>
            <if test="startCityCode != null and startCityCode.trim() != ''">
                and wo.start_city = #{startCityCode}
            </if>
            <if test="startAreaCode != null and startAreaCode.trim() != ''">
                and wo.start_area = #{startAreaCode}
            </if>
            <if test="endProvinceCode != null and endProvinceCode.trim() != ''">
                and wo.end_province = #{endProvinceCode}
            </if>
            <if test="endCityCode != null and endCityCode.trim() != ''">
                and wo.end_city = #{endCityCode}
            </if>
            <if test="endAreaCode != null and endAreaCode.trim() != ''">
                and wo.end_area = #{endAreaCode}
            </if>

            <if test="type != null">
                and cc.type = #{type}
            </if>
            <if test="customerName != null  and customerName.trim() != ''">
                and  cc.name  like concat('%',#{customerName},'%')
            </if>
            <if test="payMode != null">
                and  cc.pay_mode =#{payMode}
            </if>

            <if test="brand != null and brand.trim() != ''">
                and cc.brand = #{brand}
            </if>
            <if test="model != null and model.trim() != ''">
                and cc.model = #{model}
            </if>
            <if test="inputStoreName != null and inputStoreName.trim() != ''">
                and wo.input_store_name = #{inputStoreName}
            </if>

            <if test="state != null and state.trim() !=''">
                and woc.wl_pay_state = #{state}
            </if>
            <if test="receiveStartTime!= null">
                and wt.wl_pay_time &lt;= #{receiveStartTime}
            </if>
            <if test="receiveEndTime!= null">
                and wt.wl_pay_time &lt;= #{receiveEndTime}
            </if>
        </where>
        group by woc.no
        order by wo.create_time desc
    </select>

    <select id="getFee" parameterType="map" resultType="java.math.BigDecimal">
        select IFNULL(sum(wwc.freight_fee),0)

        from w_waybill_car wwc
        left join w_waybill ww on wwc.waybill_no = ww.no
        left join d_carrier dc on ww.carrier_id = dc.id
        where wwc.order_car_no = #{orderCarNo} and ww.type = #{type}
        order by ww.create_time desc
    </select>

    <select id="getTrunkCostList" parameterType="map" resultType="com.cjyc.common.model.vo.web.finance.TrunkLineVo">
        select ww.carrier_name as name,wwc.freight_fee as freightFee,ww.freight_pay_time as payTime,
        dc.settle_type as settleType

        from w_waybill_car wwc
        left join w_waybill ww on wwc.waybill_no = ww.no
        left join d_carrier dc on ww.carrier_id = dc.id
        where wwc.order_car_no = #{orderCarNo} and ww.type = #{type}
        order by ww.create_time desc
    </select>

    <select id="getFinanceReceiptList" parameterType="com.cjyc.common.model.dto.web.finance.FinanceQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.FinanceReceiptVo">
        select woc.no,woc.vin,woc.brand,woc.model,cc.id,cc.type,
        cc.pay_mode as payMode,
        if(cc.pay_mode=0,'时付','账期') as payModeName,
        wwc.freight_fee as freightReceivable,
        wo.start_province,wo.start_city,
        wo.start_area,wo.end_province,wo.end_city,wo.end_area,
        woc.order_no,woc.now_area_code,wo.input_store_id,
        wo.input_store_name,wt.complete_time,
        cc.contact_phone as contactPhone,
        wo.customer_name as customerName
        from w_order_car woc
        left join w_order wo on woc.order_id = wo.id
        left join c_customer cc on cc.id = wo.customer_id
        left join w_waybill_car wwc on wwc.order_car_no = woc.no
        left join w_task wt on wt.waybill_no = wwc.waybill_no

        where cc.pay_mode=1
        <if test="no != null and no.trim() != ''">
            and woc.no like concat('%',#{no},'%')
        </if>
        <if test="vin != null and vin.trim() != ''">
            and  woc.vin = #{vin}
        </if>
        <if test="orderNo != null and orderNo.trim() != ''">
            and  woc.order_no like concat('%',#{orderNo},'%')
        </if>
        <if test="completeStartTime!= null">
            and wt.complete_time &gt;= #{completeStartTime}
        </if>
        <if test="completeEndTime!= null">
            and wt.complete_time &lt;= #{completeEndTime}
        </if>

        <if test="startProvinceCode != null and startProvinceCode.trim() != ''">
            and wo.start_province = #{startProvinceCode}
        </if>
        <if test="startCityCode != null and startCityCode.trim() != ''">
            and wo.start_city = #{startCityCode}
        </if>
        <if test="startAreaCode != null and startAreaCode.trim() != ''">
            and wo.start_area = #{startAreaCode}
        </if>
        <if test="endProvinceCode != null and endProvinceCode.trim() != ''">
            and wo.end_province = #{endProvinceCode}
        </if>
        <if test="endCityCode != null and endCityCode.trim() != ''">
            and wo.end_city = #{endCityCode}
        </if>
        <if test="endAreaCode != null and endAreaCode.trim() != ''">
            and wo.end_area = #{endAreaCode}
        </if>

        <if test="type != null">
            and cc.type = #{type}
        </if>
        <if test="customerName != null  and customerName.trim() != ''">
            and  cc.name  like concat('%',#{customerName},'%')
        </if>
        <if test="payMode != null">
            and  cc.pay_mode =#{payMode}
        </if>

        <if test="brand != null and brand.trim() != ''">
            and cc.brand = #{brand}
        </if>
        <if test="model != null and model.trim() != ''">
            and cc.model = #{model}
        </if>
        <if test="inputStoreName != null and inputStoreName.trim() != ''">
            and wo.input_store_name = #{inputStoreName}
        </if>

        order by wo.create_time desc
    </select>

    <select id="getPaymentList" parameterType="com.cjyc.common.model.dto.web.finance.FinanceQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.PaymentVo">
        select woc.no,woc.vin,woc.brand,woc.model,
        wo.customer_id as customerId,wo.customer_type as type,zcity.name as largeArea,
        if(cc.pay_mode=0,'时付','账期') as payModeName,woc.total_fee as freightReceivable,
        if(woc.wl_pay_state=2,woc.total_fee,0) as freightPay,
        woc.order_no as orderNo,
        wo.start_province,wo.start_city,
        wo.start_address as startAddress,
        wo.end_address as endAddress,
        woc.now_area_code,wo.input_store_id,
        wo.input_store_name as inputStoreName,
        wo.customer_name as customerName,
        wo.customer_contract_id as customerContractId,
        woc.wl_pay_time as deliveryDate
        from w_order_car woc
        left join w_order wo on woc.order_id = wo.id
        left join c_customer cc on cc.id = wo.customer_id
        left join w_waybill_car wwc on wwc.order_car_no = woc.no
        left join w_task wt on wt.waybill_no = wwc.waybill_no
        left join zcity zc on zc.code = wo.start_province_code
        left join zcity zcity on zcity.code = zc.parent_code

        <where>
            <if test="no != null and no.trim() != ''">
                and woc.no like concat('%',#{no},'%')
            </if>
            <if test="vin != null and vin.trim() != ''">
                and  woc.vin = #{vin}
            </if>
            <if test="orderNo != null and orderNo.trim() != ''">
                and  woc.order_no like concat('%',#{orderNo},'%')
            </if>

            <if test="type != null">
                and cc.type = #{type}
            </if>
            <if test="customerName != null  and customerName.trim() != ''">
                and  cc.name  like concat('%',#{customerName},'%')
            </if>
            <if test="payMode != null">
                and  cc.pay_mode =#{payMode}
            </if>

            <if test="brand != null and brand.trim() != ''">
                and cc.brand = #{brand}
            </if>
            <if test="model != null and model.trim() != ''">
                and cc.model = #{model}
            </if>
            <if test="inputStoreName != null and inputStoreName.trim() != ''">
                and wo.input_store_name = #{inputStoreName}
            </if>
            <if test="completeStartTime!= null">
                and wt.complete_time &gt;= #{completeStartTime}
            </if>
            <if test="completeEndTime!= null">
                and wt.complete_time &lt;= #{completeEndTime}
            </if>
            <if test="startProvinceCode != null and startProvinceCode.trim() != ''">
                and wo.start_province = #{startProvinceCode}
            </if>
            <if test="startCityCode != null and startCityCode.trim() != ''">
                and wo.start_city = #{startCityCode}
            </if>
            <if test="startAreaCode != null and startAreaCode.trim() != ''">
                and wo.start_area = #{startAreaCode}
            </if>
            <if test="endProvinceCode != null and endProvinceCode.trim() != ''">
                and wo.end_province = #{endProvinceCode}
            </if>
            <if test="endCityCode != null and endCityCode.trim() != ''">
                and wo.end_city = #{endCityCode}
            </if>
            <if test="endAreaCode != null and endAreaCode.trim() != ''">
                and wo.end_area = #{endAreaCode}
            </if>
        </where>
    </select>

    <select id="getCustomerContractById" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select settle_type from c_customer_contract where id =#{customerContractId}
    </select>
    <select id="getCustomerPartnerById" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select settle_type from c_customer_partner where customer_id =#{customerId}
    </select>

    <select id="getPaidList" parameterType="com.cjyc.common.model.dto.web.finance.PayMentQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.PaidVo">
        select ww.no as waybillNo,ww.complete_time as completeTime,
        ww.freight_fee as freightFee,ww.type,
        if(dc.settle_type=0,'时付','账期') as settleType,
        ww.guide_line as guideLine,ww.carrier_id,
        ww.carrier_name as carrierName,
        wt.driver_name as driverName,
        wt.driver_phone as driverPhone,
        wt.vehicle_plate_no as vehiclePlateNo
        from w_waybill ww
        left join d_carrier dc on dc.id=ww.carrier_id
        left join w_task wt on wt.waybill_id = ww.id
        where dc.settle_type=0
        <if test="waybillNo != null and waybillNo.trim() != ''">
            and ww.no like concat('%',#{waybillNo},'%')
        </if>
        <if test="completeStartTime!= null">
            and ww.complete_time &gt;= #{completeStartTime}
        </if>
        <if test="completeEndTime!= null">
            and ww.complete_time &lt;= #{completeEndTime}
        </if>
        <if test="waybillType!= null">
            and ww.type =#{waybillType}
        </if>
        <if test="invoiceNo!= null and invoiceNo.trim() != ''">
        </if>
        <if test="pingPayNo!= null and pingPayNo.trim() != ''">
        </if>
        <if test="carrierName!= null and carrierName.trim() != ''">
            and ww.carrier_name like concat('%',#{carrierName},'%')
        </if>
        <if test="driverName!= null and driverName.trim() != ''">
            and wt.driver_name like concat('%',#{driverName},'%')
        </if>
        <if test="driverPhone!= null and driverPhone.trim() != ''">
            and wt.driver_phone like concat('%',#{driverPhone},'%')
        </if>

        order by ww.create_time desc
    </select>

    <select id="getCollectReceiveList" parameterType="com.cjyc.common.model.dto.web.finance.CollectReceiveQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.CollectReceiveVo">
        select ww.no as wayBillNo,ww.type as wayBillType
        from w_waybill ww

        <where>
            <if test="wayBillNo != null and wayBillNo.trim() != ''">
                and ww.no like concat('%',#{wayBillNo},'%')
            </if>
            <if test="wayBillType!= null">
                and ww.type = #{wayBillType}
            </if>
            <!--<if test="collectMan !=null and collectMan.trim() !=''">

            </if>
            <if test="collectManPhone !=null and collectManPhone.trim() !=''">

            </if>
            <if test="returnStatus !=null and returnStatus.trim() !=''">

            </if>-->
        </where>

    </select>


    <!--应付 -->
    <select id="getFinancePayableList" parameterType="com.cjyc.common.model.dto.web.finance.PayableQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.FinancePayableVo">
        select wt.no,wt.complete_time as completeTime,
        ww.type as waybillType,ww.carrier_id as carrierId,
        ww.carrier_type as carrierType,
        ww.carrier_name as carrierName,
        wt.driver_id as driverId,
        wt.driver_name as driverName,
        wt.driver_phone as driverPhone,
        wt.vehicle_plate_no as vehiclePlateNo,
        if(dc.settle_type=0,'时付','账期') as settleTypeName,
        wt.car_num as carNum,
        dc.settle_period as settlePeriod
        from w_task wt
        left join w_waybill ww on ww.no = wt.waybill_no
        left join d_carrier dc on dc.id = ww.carrier_id
        where dc.settle_type=1 and wt.complete_time &gt;0 and carrier_type in (1,2,4,5)
        and wt.no not in (select fpd.no from f_payable_detail fpd)
        <if test="waybillNo !=null and waybillNo.trim() !=''">
            and wt.no like concat('%',#{waybillNo},'%')
        </if>
        <if test="carrierName !=null and carrierName.trim() !=''">
            and ww.carrier_name like concat('%',#{carrierName},'%')
        </if>
        <if test="driverName !=null and driverName.trim() !=''">
            and wt.driver_name like concat('%',#{driverName},'%')
        </if>
        <if test="completeStartTime !=null ">
            and wt.complete_time &gt;=#{completeStartTime}
        </if>
        <if test="completeEndTime !=null ">
            and wt.complete_time &lt;=#{completeEndTime}
        </if>
        <if test="driverPhone !=null and driverPhone.trim() !=''">
            and wt.driver_phone like concat('%',#{driverPhone},'%')
        </if>
        <if test="vehiclePlateNo !=null and vehiclePlateNo.trim() !=''">
            and wt.vehicle_plate_no like concat('%',#{vehiclePlateNo},'%')
        </if>
        <if test="waybillType !=null and waybillType.trim() !=''">
            and ww.type = #{waybillType}
        </if>
    </select>

    <select id="getSettlementInfo" parameterType="java.util.List"
        resultType="com.cjyc.common.model.vo.web.finance.PayableTaskVo">
        select wt.no,wt.car_num as carNum,ww.type,wwc.freight_fee as freightFee
        from w_task wt
        left join w_task_car wtc on wt.id=wtc.task_id
        left join w_waybill_car wwc on wwc.id = wtc.waybill_car_id
        left join w_waybill ww on ww.no = wt.waybill_no
        where wt.no in
        <foreach collection="taskNoList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="apply" parameterType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        insert into f_payable(serial_number,freight_fee,apply_time,applicant_id,state)
        values (#{serialNumber},#{freightFee},#{applyTime},#{applicantId},#{state})
    </insert>

    <insert id="applyDetail" parameterType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        insert into f_payable_detail(serial_number,no)
        values (#{serialNumber},#{no})
    </insert>

    <select id="getCollectTicketList" parameterType="com.cjyc.common.model.dto.web.finance.WaitTicketCollectDto"
            resultType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        select fp.no,fp.serial_number as serialNumber,
        fp.freight_fee as freightFee,
        fp.apply_time as applyTime,
        fp.applicant_id as applicantId,
        ba.name as applicant
        from f_payable fp
        left join b_admin ba on ba.id = fp.applicant_id

        where fp.state='0'
        <if test="serialNumber !=null and serialNumber.trim() !=''">
            and fp.serial_number like concat('%',#{serialNumber},'%')
        </if>
        <if test="applyStartTime !=null">
            and fp.apply_time &gt;=#{applyStartTime}
        </if>
        <if test="applyEndTime !=null">
            and fp.apply_time &lt;=#{applyEndTime}
        </if>
        <if test="applicant !=null and applicant.trim() !=''">
            and ba.name like concat('%',#{applicant},'%')
        </if>
    </select>

    <select id="getTaskNoList" resultType="java.lang.String">
        select no from f_payable_detail where serial_number=#{serialNumber}
    </select>

    <update id="confirm" parameterType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        update f_payable set state=#{state},confirm_id=#{confirmId},
        confirm_time=#{confirmTime} where serial_number = #{serialNumber}
    </update>

    <delete id="withdraw" parameterType="String">
        delete fp,fpd
        from f_payable fp
        left join f_payable_detail fpd on fp.serial_number = fpd.serial_number
        where fp.serial_number=#{serialNumber}
    </delete>

    <select id="getPayablePaymentList" parameterType="com.cjyc.common.model.dto.web.finance.WaitPaymentDto"
            resultType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        select fp.no,fp.serial_number as serialNumber,
        fp.freight_fee as freightFee,
        fp.invoice_no as invoiceNo,
        fp.apply_time as applyTime,
        fp.applicant_id as applicantId,
        fp.confirm_id as confirmId,
        fp.confirm_time as confirmTime,
        ba.name as applicant,
        bc.name as confirmMan
        from f_payable fp
        left join b_admin ba on ba.id = fp.applicant_id
        left join b_admin bc on bc.id = fp.confirm_id
        where fp.state='1'
        <if test="serialNumber !=null and serialNumber.trim() !=''">
            and fp.serial_number like concat('%',#{serialNumber},'%')
        </if>
        <if test="applyStartTime !=null">
            and fp.apply_time &gt;=#{applyStartTime}
        </if>
        <if test="applyEndTime !=null">
            and fp.apply_time &lt;=#{applyEndTime}
        </if>
        <if test="applicant !=null and applicant.trim() !=''">
            and ba.name like concat('%',#{applicant},'%')
        </if>

        <if test="confirmStartTime !=null">
            and fp.confirm_time &gt;=#{confirmStartTime}
        </if>
        <if test="confirmEndTime !=null">
            and fp.confirm_time &lt;=#{confirmEndTime}
        </if>
        <if test="confirmMan !=null and confirmMan.trim() !=''">
            and ba.name like concat('%',#{confirmMan},'%')
        </if>
    </select>

    <select id="getPayableSettlement" resultType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        select invoice_no as invoiceNo,total_freight_paid as totalFreightPaid,
        writeoff_time as writeoffTime
        from f_payable where serial_number=#{serialNumber}
    </select>

    <update id="writeOffPayable" parameterType="com.cjyc.common.model.vo.web.finance.SettlementVo">
        update f_payable set state=#{state},writeoff_id=#{writeoffId},
        writeoff_time=#{writeoffTime}, total_freight_paid=#{totalFreightPaid} where serial_number = #{serialNumber}
    </update>
    <select id="getPayablePaidList" parameterType="com.cjyc.common.model.dto.web.finance.PayablePaidQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.PayablePaidVo">
        select fp.no,fp.serial_number as serialNumber,
        fp.freight_fee as freightFee,
        fp.invoice_no as invoiceNo,
        fp.apply_time as applyTime,
        fp.applicant_id as applicantId,
        fp.confirm_id as confirmId,
        fp.confirm_time as confirmTime,
        fp.writeoff_id as writeoffId,
        fp.writeoff_time as writeoffTime,
        fp.total_freight_paid as totalFreightPaid,
        ba.name as applicant,
        bc.name as confirmMan,
        bd.name as writeOffMan
        from f_payable fp
        left join b_admin ba on ba.id = fp.applicant_id
        left join b_admin bc on bc.id = fp.confirm_id
        left join b_admin bd on bd.id = fp.writeoff_id
        where fp.state='2'
        <if test="serialNumber !=null and serialNumber.trim() !=''">
            and fp.serial_number like concat('%',#{serialNumber},'%')
        </if>
        <if test="applyStartTime !=null">
            and fp.apply_time &gt;=#{applyStartTime}
        </if>
        <if test="applyEndTime !=null">
            and fp.apply_time &lt;=#{applyEndTime}
        </if>
        <if test="applicant !=null and applicant.trim() !=''">
            and ba.name like concat('%',#{applicant},'%')
        </if>

        <if test="confirmStartTime !=null">
            and fp.confirm_time &gt;=#{confirmStartTime}
        </if>
        <if test="confirmEndTime !=null">
            and fp.confirm_time &lt;=#{confirmEndTime}
        </if>
        <if test="confirmMan !=null and confirmMan.trim() !=''">
            and bc.name like concat('%',#{confirmMan},'%')
        </if>

        <if test="confirmStartTime !=null">
            and fp.writeoff_time &gt;=#{writeOffStartTime}
        </if>
        <if test="confirmEndTime !=null">
            and fp.writeoff_time &lt;=#{writeOffEndTime}
        </if>
        <if test="confirmMan !=null and confirmMan.trim() !=''">
            and bd.name like concat('%',#{writeOffMan},'%')
        </if>
    </select>

</mapper>