<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IFinanceReceiptDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.FinanceReceiptDetail">
        <id column="id" property="id" />
        <result column="finance_receipt_id" property="financeReceiptId" />
        <result column="detail_id" property="detailId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, finance_receipt_id, detail_id
    </sql>

</mapper>
