<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IIncrementerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Incrementer">
        <id column="id" property="id" />
        <result column="date" property="date" />
        <result column="prefix" property="prefix" />
        <result column="number" property="number" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, date, prefix, number
    </sql>

    <!-- 通过手机号，姓名，身份证号查询 -->
    <select id="getIncrementer" resultType="com.cjyc.common.model.vo.CustomerVo">
        select fuc_increamenter("we")
    </select>
</mapper>
