<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IInvoiceReceiptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.InvoiceReceipt">
        <id column="id" property="id" />
        <result column="orderCar_no" property="orderCarNo" />
        <result column="customer_id" property="customerId" />
        <result column="amount" property="amount" />
        <result column="serial_number" property="serialNumber" />
        <result column="invoice_id" property="invoiceId" />
        <result column="invoice_no" property="invoiceNo" />
        <result column="state" property="state" />
        <result column="invoice_time" property="invoiceTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number,orderCar_no, customer_id, amount, invoice_id, invoice_no, state, invoice_time
    </sql>

</mapper>
