<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IInvoiceReceiptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.InvoiceReceipt">
        <id column="id" property="id" />
        <result column="orderCar_no" property="orderCarNo" />
        <result column="customer_id" property="customerId" />
        <result column="amount" property="amount" />
        <result column="serial_number" property="serialNumber" />
        <result column="invoice_id" property="invoiceId" />
        <result column="invoice_no" property="invoiceNo" />
        <result column="state" property="state" />
        <result column="invoice_time" property="invoiceTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number,orderCar_no, customer_id, amount, invoice_id, invoice_no, state, invoice_time
    </sql>

    <select id="getWaitInvoiceList" parameterType="com.cjyc.common.model.dto.web.finance.WaitQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.WaitInvoiceVo">
        select fia.serial_number as serialNumber,wwc.freight_fee as freightreceivable,fia.amount as amount,
        cci.type,cci.name as customerName,
        cci.tax_code as taxPayerNumber,cci.tel ,cci.invoice_address as address,cci.bank_name as bankName,cci.bank_account as bankAccout,
        cci.pickup_person as pickUpPerson,cci.pickup_phone as pickUpPhone,cci.pickup_address as pickUpAddress,
        fia.invoice_time as applyTime,fia.invoice_man as applicant,
        fia.confirm_time as confirmTime,fia.confirm_man as confirmMan,fia.writeoff_time as writeOffTime,fia.writeoff_man as writeOffMan
        from f_invoice_apply fia
        left join w_waybill_car wwc on fia.order_car_no = wwc.order_car_no
        left join c_customer_invoice cci on fia.invoice_id = cci.id
        where fia.state=1
        <if test="serialNumber != null and serialNumber.trim() != ''">
            and fia.serial_number like concat('%',#{serialNumber},'%')
        </if>
        <if test="taxPayerNumber != null and taxPayerNumber.trim() != ''">
            and cci.tax_code like concat('%',#{taxPayerNumber},'%')
        </if>
        <if test="customerName != null and customerName.trim() != ''">
            and cci.name like concat('%',#{customerName},'%')
        </if>

        <if test="phone != null and phone.trim() != ''">
            and cci.tel like concat('%',#{phone},'%')
        </if>
        <if test="applyStartTime != null">
            and fia.invoice_time &gt;= #{applyStartTime}
        </if>
        <if test="applyEndTime != null ">
            and fia.invoice_time &lt;= #{applyEndTime}
        </if>
        <if test="applicant != null and applicant.trim() != ''">
            and fia.invoice_man like concat('%',#{applicant},'%')
        </if>
        <if test="type != null and type.trim() != ''">
            and cci.type = #{type}
        </if>

    </select>


    <select id="getWaitForBackList" parameterType="com.cjyc.common.model.dto.web.finance.WaitQueryDto"
            resultType="com.cjyc.common.model.vo.web.finance.WaitInvoiceVo">
        select fia.serial_number as serialNumber,wwc.freight_fee as freightreceivable,fia.amount as amount,
        cci.type,cci.name as customerName,
        cci.tax_code as taxPayerNumber,cci.tel ,cci.invoice_address as address,cci.bank_name as bankName,cci.bank_account as bankAccout,
        cci.pickup_person as pickUpPerson,cci.pickup_phone as pickUpPhone,cci.pickup_address as pickUpAddress,
        fia.invoice_time as applyTime,fia.invoice_man as applicant,
        fia.confirm_time as confirmTime,fia.confirm_man as confirmMan,fia.writeoff_time as writeOffTime,fia.writeoff_man as writeOffMan
        from f_invoice_apply fia
        left join w_waybill_car wwc on fia.order_car_no = wwc.order_car_no
        left join c_customer_invoice cci on fia.invoice_id = cci.id
        where fia.state=2
        <if test="serialNumber != null and serialNumber.trim() != ''">
            and fia.serial_number like concat('%',#{serialNumber},'%')
        </if>
        <if test="taxPayerNumber != null and taxPayerNumber.trim() != ''">
            and cci.tax_code like concat('%',#{taxPayerNumber},'%')
        </if>
        <if test="customerName != null and customerName.trim() != ''">
            and cci.name like concat('%',#{customerName},'%')
        </if>

        <if test="phone != null and phone.trim() != ''">
            and cci.tel like concat('%',#{phone},'%')
        </if>
        <if test="applyStartTime != null">
            and fia.invoice_time &gt;= #{applyStartTime}
        </if>
        <if test="applyEndTime != null ">
            and fia.invoice_time &lt;= #{applyEndTime}
        </if>
        <if test="applicant != null and applicant.trim() != ''">
            and fia.invoice_man like concat('%',#{applicant},'%')
        </if>
        <if test="type != null and type.trim() != ''">
            and cci.type = #{type}
        </if>
        <if test="invoiceStartTime != null">
            and fia.confirm_time &gt;= #{invoiceStartTime}
        </if>
        <if test="invoiceEndTime != null ">
            and fia.confirm_time &lt;= #{invoiceEndTime}
        </if>
        <if test="confirmMan != null and confirmMan.trim() != ''">
            and fia.confirm_man like concat('%',#{confirmMan},'%')
        </if>

    </select>

</mapper>
