<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ILineDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Line">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="from_code" property="fromCode" />
        <result column="to_code" property="toCode" />
        <result column="level" property="level" />
        <result column="kilometer" property="kilometer" />
        <result column="days" property="days" />
        <result column="state" property="state" />
        <result column="default_wl_fee" property="defaultWlFee" />
        <result column="default_freight_fee" property="defaultFreightFee" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, from_code, to_code, level, kilometer, days, state, default_wl_fee, default_freight_fee, remark, create_time, create_user_id, update_user_id, update_time
    </sql>


    <!-- 通过城市编码查看上游运价 -->
    <select id="getLinePriceByCode" resultType="com.cjyc.common.model.entity.Line">
        select
          <include refid="Base_Column_List"/>
        from s_line
        <where>
            <if test="fromCode != null and fromCode != ''">
                from_code = #{fromCode}
            </if>
            <if test="toCode != null  and toCode != ''">
                and to_code = #{toCode}
            </if>
            and state = 1 limit 1
        </where>
    </select>

    <!-- 通过条件查询班线 -->
    <select id="getLineByTerm" resultType="com.cjyc.common.model.vo.web.line.LineVo"
                                parameterType="com.cjyc.common.model.dto.web.line.SelectLineDto">
        SELECT
            sl.id AS id,
            sl.code AS code,
            sl.from_code AS fromCityCode,
            sl.to_code AS toCityCode,
            sl.default_wl_fee AS defaultWlFee,
            sl.default_freight_fee AS defaultFreightFee,
            sl.kilometer AS kilometer,
            sl.days AS days,
            sl.remark AS remark,
            sl.create_time AS createTime ,
            ba.name as createName,
            sl.update_time as updateTime,
            bad.name as updateName
        FROM
        s_line sl
        left join b_admin ba on ba.id = sl.create_user_id
        left join b_admin bad on bad.id = sl.update_user_id
        <where>
            <if test="fromCityCode != null and fromCityCode.trim() != ''">
                sl.from_code = #{fromCityCode}
            </if>
            <if test="toCityCode != null and toCityCode.trim() != ''">
                and sl.to_code = #{toCityCode}
            </if>
            <if test="lineCode != null and lineCode.trim() != ''">
                and sl.code = #{lineCode}
            </if>
        </where>
        order by sl.create_time desc,sl.update_time desc
    </select>

    <select id="findOneByCity" resultType="com.cjyc.common.model.entity.Line">
        select
        <include refid="Base_Column_List"/>
        from s_line
        where from_code = #{startCityCode}
        and to_code = #{endCityCode}
        limit 1
    </select>
    <select id="findListByCity" resultType="com.cjyc.common.model.entity.Line">
        select
        <include refid="Base_Column_List"/>
        from s_line
        where from_code = #{startCityCode}
        and to_code = #{endCityCode}
    </select>

</mapper>
