<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ILineDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Line">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="from_code" property="fromCode" />
        <result column="to_code" property="toCode" />
        <result column="level" property="level" />
        <result column="kilometer" property="kilometer" />
        <result column="days" property="days" />
        <result column="state" property="state" />
        <result column="default_wl_fee" property="defaultWlFee" />
        <result column="default_freight_fee" property="defaultFreightFee" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_time" property="updateTime" />
        <result column="update_user_id" property="updateUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, from_code, to_code, level, kilometer, days, state, default_wl_fee, default_freight_fee, remark, create_time, create_user_id, update_time, update_user_id
    </sql>

    <!-- 通过城市编码查看上游运价 -->
    <select id="getLinePriceByCode" resultType="java.lang.String" parameterType="java.lang.String">
        select default_wl_fee
        from s_line
        <where>
            <if test="fromCode != null and fromCode != ''">
                from_code = #{fromCode}
            </if>
            <if test="toCode != null  and toCode != ''">
                and to_code = #{toCode}
            </if>
            and state = 1
        </where>
    </select>

</mapper>
