<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IOrderCarDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.OrderCar">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="no" property="no" />
        <result column="brand" property="brand" />
        <result column="model" property="model" />
        <result column="plate_no" property="plateNo" />
        <result column="vin" property="vin" />
        <result column="valuation" property="valuation" />
        <result column="now_store_id" property="nowStoreId" />
        <result column="now_area_code" property="nowAreaCode" />
        <result column="state" property="state" />
        <result column="description" property="description" />
        <result column="pick_fee" property="pickFee" />
        <result column="trunk_fee" property="trunkFee" />
        <result column="back_fee" property="backFee" />
        <result column="insurance_fee" property="insuranceFee" />
        <result column="insurance_coverage_amount" property="insuranceCoverageAmount" />
        <result column="agency_fee" property="agencyFee" />
        <result column="wl_pay_state" property="wlPayState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_no, no, brand, model, plate_no, vin, valuation, now_store_id, now_area_code, state, description, pick_fee, trunk_fee, back_fee, insurance_fee, insurance_coverage_amount, agency_fee, wl_pay_state
    </sql>

    <!-- 通过订单编号查询车辆信息 -->
    <select id="getOrderCarByNo" resultType="com.cjyc.common.model.vo.customer.OrderCarCenterVo" parameterType="java.lang.String">
         select brand as brand ,model as model ,plate_no as plateNo,vin as vin from w_order_car where order_no = #{orderNo};
    </select>
    <!--按地级城市统计待调度车辆数量-->
    <select id="countListWaitDispatchCar" resultType="java.util.Map">
        select count(0) as car_num, start_city_code as cityCode, start_city as cityName from w_order o
        join w_order_car c on o.id = c.order_id
        where o.state BETWEEN 25 and 100
        and c.state &lt; 5
        group by o.start_city_code

        union
        select count(0) as car_num, start_city_code as cityCode, start_city as cityName from w_order o
        join w_order_car c on o.id = c.order_id
        where o.state BETWEEN 25 and 100
        and c.state = 25
        group by o.start_city_code

        union
        select count(0) as car_num, start_city_code as cityCode, start_city as cityName from w_order o
        join w_order_car c on o.id = c.order_id
        where o.state BETWEEN 25 and 100
        and c.state = 45
        group by o.start_city_code
    </select>

    <select id="countTotalWaitDispatchCar" resultType="java.lang.Integer">
        select sum(carNum) from (
        select count(0) as carNum
        from w_order o
        join w_order_car c on o.id = c.order_id
        where o.state BETWEEN 25 and 100
        and c.state &lt; 5
        group by o.start_city_code

        union
        select count(0) as carNum
        from w_order o
        join w_order_car c on o.id = c.order_id
        where o.state BETWEEN 25 and 100
        and c.state = 25
        group by o.start_city_code

        union
        select count(0) as carNum
        from w_order o
        join w_order_car c on o.id = c.order_id
        where o.state BETWEEN 25 and 100
        and c.state = 45
        group by o.start_city_code
        ) as t
    </select>

</mapper>
