<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IOrderCarLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.OrderCarLog">
        <id column="id" property="id" />
        <result column="order_car_id" property="orderCarId" />
        <result column="order_car_no" property="orderCarNo" />
        <result column="type" property="type" />
        <result column="inner_log" property="innerLog" />
        <result column="outer_log" property="outerLog" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="create_user_type" property="createUserType" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_phone" property="createUserPhone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_car_id, order_car_no, type, inner_log, outer_log, remark, create_time, create_user, create_user_type, create_user_id, create_user_phone
    </sql>
    <select id="findCarLogByOrderNoAndCarNo"
            resultType="com.cjyc.common.model.vo.customer.order.OutterOrderCarLogVo">
        select *
        from (
            select
            #{orderCarNo} as orderCarNo,
            (case type
            when 1 then '已下单'
            when 2 then '已确认'
            when 3 then '待付款'
            when 4 then '已付款'
            when 5 then '已接单'
            when 100 then '已交付'
            when 113 then '已取消'
            else ''
            end) as typeStr,
            outer_log as outerLog,
            create_time as createTime
            from w_order_log
            where order_no = #{orderNo}
            union all
            select
            order_car_no as orderCarNo,
            (case type
            when 21 then '已装车'
            when 22 then '已卸车'
            when 23 then '已卸载'
            when 24 then '已入库'
            when 25 then '已出库'
            when 28 then '已支付'
            when 29 then '已收车'
            else ''
            end) as typeStr,
            outer_log as outerLog,
            create_time as createTime
            from w_order_car_log
            where order_car_no = #{orderCarNo}
        ) as shell
        order by shell.createTime
    </select>

</mapper>
