<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IStoreDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Store">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="name" property="name" />
        <result column="province" property="province" />
        <result column="province_code" property="provinceCode" />
        <result column="city" property="city" />
        <result column="city_code" property="cityCode" />
        <result column="area" property="area" />
        <result column="area_code" property="areaCode" />
        <result column="detail_addr" property="detailAddr" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="state" property="state" />
        <result column="contact_admin_id" property="contactAdminId" />
        <result column="contact_admin" property="contactAdmin" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="operation_name" property="operationName" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, name, province, province_code, city, city_code, area, area_code, detail_addr, lng, lat, state, contact_admin_id, contact_admin,
        create_user_id, create_time, operation_name, update_time, remark,is_delete
    </sql>
    <select id="findByCityCode" resultType="com.cjyc.common.model.entity.Store">
        select
        <include refid="Base_Column_List"/>,
        concat(province,city,area,detail_addr) as fullAddress
        from s_store
        where city_code =#{cityCode}
        and state = 2
        and is_delete = 0
    </select>
    <select id="findByAreaCode" resultType="com.cjyc.common.model.entity.Store">
        select
        <include refid="Base_Column_List"/>
        from s_store
        where area_code =#{areaCode}
        and state = 2
        and is_delete = 0
    </select>
    <select id="findAreaBizScope" resultType="java.lang.String">
        select
        area_code
        from s_store_city_con
        where store_id = #{id}
        and is_delete = 0
    </select>
    <select id="findBelongByAreaCode" resultType="com.cjyc.common.model.entity.Store">
        select
        <include refid="Base_Column_List"/>
        from s_store_city_con con
        join s_store s on con.store_id = s.id
        where con.area_code = #{areaCode}
        and is_delete = 0
    </select>
    <select id="findOneBelongByAreaCode" resultType="com.cjyc.common.model.entity.Store">
        select
        s.*
        from s_store_city_con con
        join s_store s on con.store_id = s.id
        where con.area_code = #{areaCode}
        and is_delete = 0
        limit 1

    </select>
    <select id="findAll" resultType="com.cjyc.common.model.entity.Store">
        select
        <include refid="Base_Column_List"/>
        from s_store
        where is_delete = 0
    </select>

    <select id="findVoAll" resultType="com.cjyc.common.model.vo.store.StoreVo">
        select
        s.*,
        m.phone as  contactAdminPhone
        from s_store s
        left join b_admin m on m.id = s.contact_admin_id
        where s.is_delete = 0
    </select>
    <select id="findAllDeptId" resultType="java.lang.Long">
        select
        dept_id
        from s_store
        where is_delete = 0
    </select>

    <select id="findByIds" resultType="com.cjyc.common.model.entity.Store">
        select * from s_store
        <where>
            and is_delete = 0
            and id in
            <foreach collection="set" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="findVoByIds" resultType="com.cjyc.common.model.vo.store.StoreVo">
        select
        s.*,
        m.phone as contactAdminPhone
        from s_store s
        left join b_admin m on m.id = s.contact_admin_id
        <where>
            and is_delete = 0
            and s.id in
            <foreach collection="set" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="findByName" resultType="com.cjyc.common.model.entity.Store">
        select
        <include refid="Base_Column_List"/>
        from s_store
        <where>
            and is_delete = 0
            <if test="storeName != null and storeName != ''">
                name like concat('%', #{storeName},'%')
            </if>
        </where>
    </select>
    <select id="findByNameAndIds" resultType="com.cjyc.common.model.entity.Store">
        select
        <include refid="Base_Column_List"/>
        from s_store
        <where>
            and s.is_delete = 0
            <if test="storeName != null and storeName != ''">
                and name like concat('%', #{storeName},'%')
            </if>
            <if test="storeIds != null and storeIds.size > 0">
                and id in
                <foreach collection="storeIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findStore" resultType="com.cjyc.common.model.vo.customer.customerLine.BusinessStoreVo"
            parameterType="com.cjyc.common.model.dto.customer.freightBill.FindStoreDto">
          SELECT
            id AS storeId,
            NAME AS NAME,
            detail_addr AS detailAddr
          FROM
            s_store
        <where>
            <if test="name != null and name.trim() != ''">
               name like concat('%', #{name},'%')
            </if>
            <if test="cityCode != null and cityCode.trim() != ''">
                and city_code = #{cityCode}
            </if>
            order by create_time desc,update_time desc
        </where>
    </select>


    <select id="findOneBelongByCityCode" resultType="com.cjyc.common.model.entity.Store">
        select * from s_store
        where city_code = #{cityCode}
        and is_delete = 0
        limit 1
    </select>



</mapper>
