<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IStoreConfDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.StoreConf">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="item" property="item" />
        <result column="item_key" property="itemKey" />
        <result column="item_value" property="itemValue" />
        <result column="rewark" property="rewark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, item, item_key, item_value, rewark
    </sql>

</mapper>
