<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ITaskCarDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.TaskCar">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="waybill_id" property="waybillId" />
        <result column="waybill_car_id" property="waybillCarId" />
        <result column="order_car_id" property="orderCarId" />
        <result column="state" property="state" />
        <result column="photo_img" property="photoImg" />
        <result column="freight_fee" property="freightFee" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, waybill_id, waybill_car_id, order_car_id, state, photo_img, freight_fee, create_time
    </sql>

</mapper>
