<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ITaskCarDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.TaskCar">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="waybill_car_id" property="waybillCarId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, waybill_car_id
    </sql>
    <insert id="saveBatch">
        insert into w_task_car
        (task_id, waybill_car_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.taskId},
            #{item.waybillCarId}
            )
        </foreach>
    </insert>
    <insert id="saveBatchByTaskIdAndWaybillCarIds">
        insert into w_task_car
        (task_id, waybill_car_id)
        values
        <foreach collection="waybillCarIds" item="item" index="index" separator=",">
            (
            #{taskId},
            #{item}
            )
        </foreach>
    </insert>
    <select id="countUnFinishByTaskId" resultType="java.lang.Integer">
        select count(0)
        from w_task_car tc
        join w_waybill_car wc on wc.id = tc.waybill_car_id
        where tc.task_id = #{taskId}
        and wc.state &lt; 100
    </select>

</mapper>
