<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ITaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Task">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="waybill_id" property="waybillId" />
        <result column="waybill_no" property="waybillNo" />
        <result column="car_num" property="carNum" />
        <result column="state" property="state" />
        <result column="driver_name" property="driverName" />
        <result column="driver_phone" property="driverPhone" />
        <result column="driver_id" property="driverId" />
        <result column="load_car_num" property="loadCarNum" />
        <result column="unload_car_num" property="unloadCarNum" />
        <result column="vehicle_running_id" property="vehicleRunningId" />
        <result column="vehicle_plate_no" property="vehiclePlateNo" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, waybill_id, waybill_no, car_num, state, driver_name, driver_phone, driver_id, load_car_num, unload_car_num, vehicle_running_id, vehicle_plate_no, remark, create_user, create_user_id, create_time
    </sql>
    <update id="updateListByWaybillIds">
        update w_task
        set state = #{newState}
        <where>
            and waybill_id in
            <foreach collection="cancelWaybillIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>
    <delete id="cancelBywaybillId">
        update w_task
        set state = #{newState}
        <where>
            <choose>
                <when test="waybillId != null">
                    waybill_id = #{waybillId}
                </when>
                <otherwise>
                    1 != 1
                </otherwise>
            </choose>
        </where>
    </delete>
    <delete id="deleteByWaybillId">
        delete t,tc
        from w_task t
        left join w_task_car tc on tc.task_id = t.id
        where t.waybill_id = #{waybillId}
    </delete>
    <delete id="deleteByWaybillCarId">
        delete from w_task_car
        where waybill_car_id = #{waybillCarId}
    </delete>
    <select id="findListByWaybillId" resultType="com.cjyc.common.model.vo.web.task.ListByWaybillTaskVo">
        select
        t.*,
        vr.carry_car_num,
        vr.occupied_car_num
        from w_task t
        left join d_vehicle_running vr on vr.id = t.vehicle_running_id
        where t.waybill_id = #{waybillId}
    </select>
    <select id="findVoById" resultType="com.cjyc.common.model.vo.web.task.TaskVo">
        select
        <include refid="Base_Column_List"/>
        from w_task
        where id = #{taskId}
    </select>
    <select id="findTopByWaybillId" resultType="com.cjyc.common.model.entity.Task">
        select
        t.*,
        vr.carry_car_num,
        vr.occupied_car_num
        from w_task t
        left join d_vehicle_running vr on vr.id = t.vehicle_running_id
        where t.waybill_id = #{waybillId}
        limit 1
    </select>

</mapper>
