<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.ITradeBillDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.TradeBill">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="ping_pay_no" property="pingPayNo" />
        <result column="ping_pay_id" property="pingPayId" />
        <result column="livemode" property="livemode" />
        <result column="subject" property="subject" />
        <result column="body" property="body" />
        <result column="amount" property="amount" />
        <result column="receiver_id" property="receiverId" />
        <result column="receier_name" property="receierName" />
        <result column="payer_id" property="payerId" />
        <result column="payer_name" property="payerName" />
        <result column="state" property="state" />
        <result column="channel" property="channel" />
        <result column="channel_name" property="channelName" />
        <result column="channel_fee" property="channelFee" />
        <result column="type" property="type" />
        <result column="event_id" property="eventId" />
        <result column="event_type" property="eventType" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="trade_time" property="tradeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, ping_pay_no, ping_pay_id, livemode, subject, body, amount, receiver_id, receier_name, payer_id, payer_name, state, channel, channel_name, channel_fee, type, event_id, event_type, remark, create_time, trade_time
    </sql>

    <update id="updateTradeBillByPingPayId" parameterType="com.cjyc.common.model.entity.TradeBill">
        update f_trade_bill set state = #{state},trade_time=#{tradeTime} where ping_pay_id=#{pingPayId}
    </update>
    <select id="getOrderCarNoList" parameterType="String" resultType="String">
        select no from w_order_car where order_no = #{orderNo}
    </select>

    <update id="updateOrderCar" parameterType="map" >
        update w_order_car set wl_pay_state = #{wlPayState}, wl_pay_time = #{wlPayTime} where no =#{orderCarNo}
    </update>

    <select id="getTradeBillByOrderNo" parameterType="String" resultType="com.cjyc.common.model.entity.TradeBill">
        select ftb.* from f_trade_bill ftb
        left join f_trade_bill_detail ftbd on ftb.id = ftbd.trade_bill_id
        where ftbd.source_no = #{orderNo} and state =2 order by create_time desc limit 1
    </select>

    <select id="getAmountByOrderNo" parameterType="String" resultType="java.math.BigDecimal">
        select (total_fee-agency_fee-coupon_offset_fee) as amount from w_order where no=#{orderNo}
    </select>

    <update id="updateOrderState" parameterType="map">
        update w_order set wl_pay_state = #{wlPayState}, wl_pay_time = #{wlPayTime} where no =#{orderNo}
    </update>

    <select id="getAllExpireTradeBill" resultType="com.cjyc.common.model.entity.TradeBill">
        select * from f_trade_bill where (REPLACE(unix_timestamp(current_timestamp(3)),'.','')-create_time)>=30000 and state=0
    </select>

</mapper>
