<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IVehicleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Vehicle">
        <id column="id" property="id" />
        <result column="plate_no" property="plateNo" />
        <result column="vin" property="vin" />
        <result column="default_carry_num" property="defaultCarryNum" />
        <result column="ownership_type" property="ownershipType" />
        <result column="position_sensor_flag" property="positionSensorFlag" />
        <result column="tachograph_flag" property="tachographFlag" />
        <result column="state" property="state" />
        <result column="driving_license" property="drivingLicense" />
        <result column="driving_license_left_img" property="drivingLicenseLeftImg" />
        <result column="driving_license_right_img" property="drivingLicenseRightImg" />
        <result column="driving_license_expire" property="drivingLicenseExpire" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plate_no, vin, default_carry_num, ownership_type, position_sensor_flag, tachograph_flag, state, driving_license, driving_license_left_img, driving_license_right_img, driving_license_expire, create_user_id, create_time
    </sql>

</mapper>
