<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IVehicleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Vehicle">
        <id column="id" property="id" />
        <result column="carrier_id" property="carrierId" />
        <result column="plate_no" property="plateNo" />
        <result column="vin" property="vin" />
        <result column="default_carry_num" property="defaultCarryNum" />
        <result column="ownership_type" property="ownershipType" />
        <result column="position_sensor_flag" property="positionSensorFlag" />
        <result column="tachograph_flag" property="tachographFlag" />
        <result column="driving_license" property="drivingLicense" />
        <result column="driving_license_left_img" property="drivingLicenseLeftImg" />
        <result column="driving_license_right_img" property="drivingLicenseRightImg" />
        <result column="driving_license_expire" property="drivingLicenseExpire" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,carrier_id, plate_no, vin, default_carry_num, ownership_type, position_sensor_flag, tachograph_flag, driving_license, driving_license_left_img, driving_license_right_img, driving_license_expire, create_user_id, create_time
    </sql>

    <!-- 查询司机与车辆绑定信息 -->
    <select id="findVehicle" resultType="com.cjyc.common.model.vo.web.vehicle.VehicleVo"
                            parameterType="com.cjyc.common.model.dto.web.vehicle.SelectVehicleDto">
        SELECT
            dv.id AS vehicleId,
            dd.id AS driverId,
            dv.plate_no AS plateNo,
            dv.default_carry_num AS defaultCarryNum,
            dd.real_name AS realName,
            dd.phone AS phone,
            dv.create_time AS checkTime,
            ba.NAME AS checkName
        FROM
          d_vehicle dv
        LEFT JOIN d_driver_vehicle_con ddvc ON ddvc.vehicle_id = dv.id
        LEFT JOIN d_driver dd ON dd.id = ddvc.driver_id
        LEFT JOIN b_admin ba ON ba.id = dv.create_user_id
        <where>
            <if test="plateNo != null and plateNo.trim() != ''">
                dv.plate_no like CONCAT('%',#{plateNo},'%')
            </if>
            <if test="realName != null and realName.trim() != ''">
                and dd.real_name like CONCAT('%',#{realName},'%')
            </if>
            <if test="phone != null and phone.trim() != ''">
                and dd.phone like CONCAT('%',#{phone},'%')
            </if>
            and dv.ownership_type = 1
        </where>
          order by dv.create_time desc
    </select>

    <!-- 根据条件查询该承运商下的车辆 -->
    <select id="findMyCar" resultType="com.cjyc.common.model.vo.web.mineCarrier.MyCarVo"
                            parameterType="com.cjyc.common.model.dto.web.mineCarrier.QueryMyCarDto">
        SELECT
            dv.id AS vehicleId,
            dv.carrier_id AS carrierId,
            dd.id AS driverId,
            dv.plate_no AS plateNo,
            dv.default_carry_num AS defaultCarryNum,
            dd.real_name AS realName,
            dd.phone AS phone,
            dcdc.MODE AS MODE
        FROM
            d_vehicle dv
        LEFT JOIN d_driver_vehicle_con ddvc ON ddvc.vehicle_id = dv.id
        LEFT JOIN d_driver dd ON dd.id = ddvc.driver_id
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.driver_id = dd.id
        <where>
            <if test="realName != null and realName.trim() != ''">
                dd.real_name like CONCAT('%',#{realName},'%')
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  dd.phone like CONCAT('%',#{phone},'%')
            </if>
            <if test="mode != null ">
                and  dcdc.mode = #{mode}
            </if>
            <if test="plateNo != null and plateNo.trim() != ''">
                and  dv.plate_no like CONCAT('%',#{plateNo},'%')
            </if>
            and dv.carrier_id = #{carrierId}
            group by dv.id
            order by dv.create_time desc
        </where>
    </select>

    <!-- 获取该承运商下车辆信息 -->
    <select id="findTransportVehicle" resultType="com.cjyc.common.model.vo.web.carrier.TransportVehicleVo"
                parameterType="com.cjyc.common.model.dto.web.carrier.TransportDto">
        SELECT
            dv.id AS vehicleId,
            dv.carrier_id AS carrierId,
            dd.id AS driverId,
            dv.plate_no AS plateNo,
            dv.default_carry_num AS defaultCarryNum,
            dd.real_name AS realName,
            dd.phone AS phone,
            dcdc.MODE AS MODE
      FROM
          d_vehicle dv
        LEFT JOIN d_driver_vehicle_con ddvc ON ddvc.vehicle_id = dv.id
        LEFT JOIN d_driver dd ON dd.id = ddvc.driver_id
        LEFT JOIN d_carrier_driver_con dcdc ON dcdc.driver_id = dd.id
        LEFT JOIN d_carrier dc ON dc.id = dcdc.carrier_id
        <where>
            <if test="realName != null and realName.trim() != ''">
                dd.real_name like CONCAT('%',#{realName},'%')
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  dd.phone like CONCAT('%',#{phone},'%')
            </if>
            <if test="plateNo != null and plateNo.trim() != ''">
                and  dvr.plate_no like CONCAT('%',#{plateNo},'%')
            </if>
            and dc.id = #{carrierId} and dc.type = 2 and dc.state &lt; 9
        </where>
    </select>

    <!-- 获取所有个人车辆 -->
    <select id="findPersonVehicle" resultType="com.cjyc.common.model.vo.FreeVehicleVo"
        parameterType="java.lang.String">
        SELECT
            id AS vehicleId,
            plate_no AS plateNo,
            default_carry_num AS defaultCarryNum
        FROM
            d_vehicle
        <where>
            <if test="keyword != null and keyword.trim() != ''">
                plate_no like concat('%',#{keyword},'%')
            </if>
             and ownership_type = 1 and carrier_id is null
             order by create_time desc
        </where>
    </select>

    <!-- 获取司机端所有个人车辆 -->
    <select id="findSocietyFreeVehicle" resultType="com.cjyc.common.model.vo.FreeVehicleVo">
        SELECT
            id AS vehicleId,
            plate_no AS plateNo,
            default_carry_num AS defaultCarryNum
        FROM
          d_vehicle
        <where>
            <if test="plateNo != null and plateNo.trim() != ''">
                plate_no like concat('%',#{plateNo},'%')
            </if>
            and ownership_type = 1 and carrier_id = #{carrierId}
            order by create_time desc
        </where>
    </select>

    <!-- 获取该承运商下的所有车辆 -->
    <select id="findCarrierVehicle" resultType="com.cjyc.common.model.vo.FreeVehicleVo">
        SELECT
            id AS vehicleId,
            plate_no AS plateNo,
            default_carry_num AS defaultCarryNum
        FROM
            d_vehicle
        <where>
            <if test="plateNo != null and plateNo.trim() != ''">
                plate_no like concat('%',#{plateNo},'%')
            </if>
                and ownership_type = 2 and carrier_id = #{carrierId}
                order by create_time desc
        </where>
    </select>




    <!-- /************************************韵车集成改版 st***********************************/ -->

    <!-- 根据条件查询该承运商下的车辆_改版 -->
    <select id="findMyCarNew" resultType="com.cjyc.common.model.vo.web.mineCarrier.MyCarVo"
            parameterType="com.cjyc.common.model.dto.web.mineCarrier.QueryMyCarDto">
        SELECT
            dv.id AS vehicleId,
            dv.carrier_id AS carrierId,
            dd.id AS driverId,
            dv.plate_no AS plateNo,
            dv.default_carry_num AS defaultCarryNum,
            dd.real_name AS realName,
            dd.phone AS phone,
            surd.MODE AS MODE
        FROM
          d_vehicle dv
        LEFT JOIN d_driver_vehicle_con ddvc ON ddvc.vehicle_id = dv.id
        LEFT JOIN d_driver dd ON dd.id = ddvc.driver_id
        LEFT JOIN (SELECT * FROM s_user_role_dept WHERE dept_type = 2 AND user_type = 2) surd ON surd.user_id = dd.id
        <where>
            <if test="realName != null and realName.trim() != ''">
                dd.real_name like CONCAT('%',#{realName},'%')
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  dd.phone like CONCAT('%',#{phone},'%')
            </if>
            <if test="mode != null ">
                and  surd.mode = #{mode}
            </if>
            <if test="plateNo != null and plateNo.trim() != ''">
                and  dv.plate_no like CONCAT('%',#{plateNo},'%')
            </if>
            and dv.carrier_id = #{carrierId}
            group by dv.id
            order by dv.create_time desc
        </where>
    </select>

    <!-- 获取该承运商下车辆信息_改版 -->
    <select id="findTransportVehicleNew" resultType="com.cjyc.common.model.vo.web.carrier.TransportVehicleVo"
            parameterType="com.cjyc.common.model.dto.web.carrier.TransportDto">
        SELECT
            dv.id AS vehicleId,
            dv.carrier_id AS carrierId,
            dd.id AS driverId,
            dv.plate_no AS plateNo,
            dv.default_carry_num AS defaultCarryNum,
            dd.real_name AS realName,
            dd.phone AS phone,
            surd.MODE AS MODE
        FROM
          d_vehicle dv
        LEFT JOIN d_driver_vehicle_con ddvc ON ddvc.vehicle_id = dv.id
        LEFT JOIN d_driver dd ON dd.id = ddvc.driver_id
        LEFT JOIN ( SELECT * FROM s_user_role_dept WHERE dept_type = 2 AND user_type = 2 ) surd ON surd.user_id = dd.id
        <where>
            <if test="realName != null and realName.trim() != ''">
                dd.real_name like CONCAT('%',#{realName},'%')
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  dd.phone like CONCAT('%',#{phone},'%')
            </if>
            <if test="plateNo != null and plateNo.trim() != ''">
                and  dv.plate_no like CONCAT('%',#{plateNo},'%')
            </if>
            and dv.carrier_id = #{carrierId}
            group by dv.id
            order by dv.create_time desc
        </where>
    </select>

    <!--根据司机ID查询司机车辆信息-->
    <select id="selectVehicleInfoByDriverId" resultType="com.cjyc.common.model.entity.Vehicle">
        select
            v.ownership_type as ownershipType,
            v.plate_no as plateNo
        from
            d_vehicle v
            left join d_vehicle_running vr on v.id = vr.vehicle_id
        where
            vr.state = 1 and vr.driver_id = #{driverId}
            limit 1
    </select>
</mapper>
