<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IVehicleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Vehicle">
        <id column="id" property="id" />
        <result column="carrier_id" property="carrierId" />
        <result column="plate_no" property="plateNo" />
        <result column="vin" property="vin" />
        <result column="default_carry_num" property="defaultCarryNum" />
        <result column="ownership_type" property="ownershipType" />
        <result column="position_sensor_flag" property="positionSensorFlag" />
        <result column="tachograph_flag" property="tachographFlag" />
        <result column="driving_license" property="drivingLicense" />
        <result column="driving_license_left_img" property="drivingLicenseLeftImg" />
        <result column="driving_license_right_img" property="drivingLicenseRightImg" />
        <result column="driving_license_expire" property="drivingLicenseExpire" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,carrier_id, plate_no, vin, default_carry_num, ownership_type, position_sensor_flag, tachograph_flag, driving_license, driving_license_left_img, driving_license_right_img, driving_license_expire, create_user_id, create_time
    </sql>

    <!-- 根据承运商id条件查询车辆信息 -->
    <select id="getBaseVehicleByTerm" resultType="com.cjyc.common.model.vo.web.carrier.BaseVehicleVo"
                parameterType="com.cjyc.common.model.dto.web.carrier.SeleVehicleDriverDto">
        SELECT
            veh.id AS vehicleId,
            veh.plate_no AS plateNo,
            veh.default_carry_num AS defaultCarryNum,
            dri.real_name AS realName,
            dri.phone AS phone,
            dri.MODE AS MODE
        FROM
            d_vehicle veh
            left JOIN d_driver_vehicle_con con ON con.vehicle_id = veh.id
            left JOIN d_driver dri ON dri.id = con.driver_id
            left JOIN d_carrier_driver_con cdc on cdc.driver_id = dri.id
            left JOIN d_carrier carr ON carr.id = cdc.carrier_id
        WHERE
	carr.id = #{carrierId}
    </select>

    <!-- 查询司机与车辆绑定信息 -->
    <select id="findVehicle" resultType="com.cjyc.common.model.vo.web.vehicle.VehicleVo"
                            parameterType="com.cjyc.common.model.dto.web.vehicle.SelectVehicleDto">

        SELECT
            veh.id AS vehicleId,
            d.id AS driverId,
            veh.plate_no AS plateNo,
            veh.default_carry_num AS defaultCarryNum,
            d.real_name AS realName,
            d.phone AS phone,
            d.check_time AS checkTime,
            admin.NAME AS checkName
        FROM
            d_vehicle veh
            LEFT JOIN d_driver_vehicle_con con ON con.vehicle_id = veh.id
            LEFT JOIN d_driver d ON d.id = con.driver_id
            LEFT JOIN b_admin admin ON admin.id = d.check_user_id
        <where>
            <if test="plateNo != null and plateNo.trim() != ''">
                con.plate_no = #{plateNo}
            </if>
            <if test="realName != null and realName.trim() != ''">
                and  d.real_name = #{realName}
            </if>
            <if test="phone != null and phone.trim() != ''">
                and  d.phone = #{phone}
            </if>
            and veh.ownership_type = 1
        </where>
    </select>

    <!-- 模糊匹配查询空闲社会车辆 -->
    <select id="findFreeVehicle" resultType="com.cjyc.common.model.vo.web.vehicle.FreeVehicleVo">
        SELECT
            id AS id,
            plate_no AS plateNo,
            default_carry_num AS defaultCarryNum
        FROM
            d_vehicle
        <where>
            <if test="plateNo != null and plateNo.trim() != ''">
                 plate_no like concat('%',#{plateNo},'%')
            </if>
            <if test="carrierId != null ">
                 and carrier_id = #{carrierId} and ownership_type = 2
            </if>
            <if test="carrierId == null ">
                and ownership_type = 1
            </if>
        </where>
    </select>
</mapper>
