<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IWaybillCarDao">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.WaybillCar">
        <id column="id" property="id" />
        <result column="waybill_id" property="waybillId" />
        <result column="waybill_no" property="waybillNo" />
        <result column="order_car_id" property="orderCarId" />
        <result column="order_car_no" property="orderCarNo" />
        <result column="freight_fee" property="freightFee" />
        <result column="start_province" property="startProvince" />
        <result column="start_province_code" property="startProvinceCode" />
        <result column="start_city" property="startCity" />
        <result column="start_city_code" property="startCityCode" />
        <result column="start_area" property="startArea" />
        <result column="start_area_code" property="startAreaCode" />
        <result column="start_address" property="startAddress" />
        <result column="start_store_name" property="startStoreName" />
        <result column="start_store_id" property="startStoreId" />
        <result column="end_province" property="endProvince" />
        <result column="end_province_code" property="endProvinceCode" />
        <result column="end_city" property="endCity" />
        <result column="end_city_code" property="endCityCode" />
        <result column="end_area" property="endArea" />
        <result column="end_area_code" property="endAreaCode" />
        <result column="end_address" property="endAddress" />
        <result column="end_store_name" property="endStoreName" />
        <result column="end_store_id" property="endStoreId" />
        <result column="line_id" property="lineId" />
        <result column="state" property="state" />
        <result column="expect_start_time" property="expectStartTime" />
        <result column="expect_end_time" property="expectEndTime" />
        <result column="take_type" property="takeType" />
        <result column="load_link_name" property="loadLinkName" />
        <result column="load_link_user_id" property="loadLinkUserId" />
        <result column="load_link_phone" property="loadLinkPhone" />
        <result column="load_turn_type" property="loadTurnType" />
        <result column="load_photo_img" property="loadPhotoImg" />
        <result column="load_time" property="loadTime" />
        <result column="unload_link_name" property="unloadLinkName" />
        <result column="unload_link_user_id" property="unloadLinkUserId" />
        <result column="unload_link_phone" property="unloadLinkPhone" />
        <result column="unload_turn_type" property="unloadTurnType" />
        <result column="unload_photo_img" property="unloadPhotoImg" />
        <result column="unload_time" property="unloadTime" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, waybill_id, waybill_no, order_car_id, order_car_no, freight_fee, start_province, start_province_code, start_city, start_city_code, start_area, start_area_code, start_address, start_store_name, start_store_id, end_province, end_province_code, end_city, end_city_code, end_area, end_area_code, end_address, end_store_name, end_store_id, line_id, state, expect_start_time, expect_end_time, take_type, load_link_name, load_link_user_id, load_link_phone, load_turn_type, load_photo_img, load_time, unload_link_name, unload_link_user_id, unload_link_phone, unload_turn_type, unload_photo_img, unload_time, sort, create_time
    </sql>


    <insert id="saveBatch">
        insert into w_waybill_car
        (waybill_id, waybill_no, order_car_id, freight_fee, start_province, start_province_code, start_city,
        start_city_code, start_area, start_area_code, start_address,start_store_name, start_store_id, end_province,
        end_province_code, end_city,end_city_code, end_area, end_area_code, end_address,end_store_name,
        end_store_id, line_id, state, expect_start_time, expect_end_time, take_type, load_link_name,
        load_link_user_id, load_link_phone, unload_link_name, unload_link_user_id, unload_link_phone,
        create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.waybill_id},
            #{item.waybill_no},
            #{item.order_car_id},
            #{item.freight_fee},
            #{item.start_province},
            #{item.start_province_code},
            #{item.start_city},
            #{item.start_city_code},
            #{item.start_area},
            #{item.start_area_code},
            #{item.start_address},
            #{item.start_store_name},
            #{item.start_store_id},
            #{item.end_province},
            #{item.end_province_code},
            #{item.end_city},
            #{item.end_city_code},
            #{item.end_area},
            #{item.end_area_code},
            #{item.end_address},
            #{item.end_store_name},
            #{item.end_store_id},
            #{item.line_id},
            #{item.state},
            #{item.expect_start_time},
            #{item.expect_end_time},
            #{item.take_type},
            #{item.load_link_name},
            #{item.load_link_user_id},
            #{item.load_link_phone},
            #{item.unload_link_name},
            #{item.unload_link_user_id},
            #{item.unload_link_phone},
            #{item.create_time},
            )
        </foreach>

    </insert>


    <select id="getWayBillCarrier" parameterType="com.cjyc.common.model.vo.web.WayBillCarrierVo"
            resultType="com.cjyc.common.model.dto.web.WayBillCarrierDto">
        select ww.waybill_no as waybillNo,ww.state as state,ww.type as type,woc.no as carNo,woc.vin as vin,woc.brand as
        brand,
        woc.model as model,wwc.freight_fee as freightFee,wo.pick_type as pickType,wo.back_type as backType,dc.id as
        carrierId,
        dc.name as carrierName,wo.expect_start_date as expectStartDate, wtc.load_time as loadTime,wtc.unload_time as
        unLoadTime,
        wt.driver_name as driverName,wt.driver_id as driverId, dd.phone as phone,dvr.vehicle_no as vehicleNo,dd.id_card
        as idCard,
        wo.start_address as startAddress,wo.end_address as endAddress,wo.no as orderNo,wo.pick_contact_name as
        pickContactName,
        wo.pick_contact_phone as pickContactPhone,wo.back_contact_name as backContactName,wo.back_contact_phone as
        backContactPhone
        from w_waybill_car wwc
        left join w_waybill ww on wwc.waybill_id=ww.id
        left join w_order_car woc on wwc.order_car_id=woc.id
        left join d_carrier dc on ww.carrier_id = dc.id
        left join w_order wo on woc.order_id = wo.id
        left join w_task_car wtc on wwc.id = wtc.waybill_car_id
        left join w_task wt on wt.waybill_id = wwc.waybill_id
        left join d_driver dd on dd.id =wt.driver_id
        left join d_vehicle_running dvr on dvr.id = wt.vehicle_running_id
        where 1=1
        <if test="wayBillNo != null and wayBillNo != ''">
            ww.waybill_no = #{wayBillNo}
        </if>
        <if test="carNo != null and carNo != ''">
            and woc.no = #{carNo}
        </if>
        <if test="vin != null  and vin != ''">
            and woc.vin = #{vin}
        </if>
        <if test="brand != null  and brand != ''">
            and woc.brand = #{brand}
        </if>
        <if test="model != null  and model != ''">
            and woc.model = #{model}
        </if>
        <if test="dispatchType != null ">
            and ww.type = #{dispatchType}
        </if>
        <!--<if test="deliveryWay != null ">
            and  wo.deliveryWay = #{deliveryWay}
        </if>-->

        <if test="carrierName != null  and carrierName != ''">
            and dc.name = #{model}
        </if>
    </select>
    <select id="findVoByIds" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
          <include refid="Base_Column_List"/>
        from w_waybill_car wc
        <where>
            and wc.id in
            <foreach collection="waybillCarIdList"  index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="findListByWaybillId" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        <include refid="Base_Column_List"/>
        from w_waybill_car
        where waybill_id = #{waybillId}
    </select>
    <select id="findNextDispatch" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        <include refid="Base_Column_List"/>
        where order_car_id = #{orderCarId}
        and state &lt; 100
        and start_store_id = #{endStoreId}
    </select>
    <update id="updateForCancelDispatch">
        update w_waybill_car
        set state = #{state}
        where order_car_id = #{orderCarId}
        and state &lt; 100
        and start_store_id = #{endStoreId}
    </update>

    <update id="updateStateById">
        update w_waybill_car
        set state = #{state}
        where id = #{id}
    </update>

    <select id="findByTaskCarId" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        wc.*
        from w_waybill_car wc
        join w_task_car tc on tc.waybill_car_id = wc.id
        where tc.id = #{taskCarId}
    </select>
    <select id="findByStartStoreAndOrderCar" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        <include refid="Base_Column_List"/>
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        where w.state &lt; 100
        and wc.state &lt;= 5
        and wc.order_car_id = #{orderCarId}
        and wc.start_store_id = #{inStoreId}

    </select>
    <select id="countByStartCityAndOrderCar" resultType="java.lang.Integer">
        select
        count(0)
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        where w.state &lt; 100
        and wc.state &lt;= 5
        and wc.order_car_id = #{orderCarId}
        and and wc.start_city = #{cityCode}
    </select>
    <select id="findUnConnectCar" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        <include refid="Base_Column_List"/>
        from w_waybill_car
        where start_city_code = #{cityCode}
        and state = 105
    </select>
    <select id="findLastTrunkWaybillCar" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        *
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        where w.state &lt;= 100
        and order_car_id = #{orderCarId}
        and type = 3
        and wc.end_city_code = #{cityCode}
        order by wc.id desc
        limit 1

    </select>
    <select id="findLastPrevByArea" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        wc.*
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        where wc.order_car_id = #{orderCarId}
        and w.state &lt;= 100
        and wc.end_area_code in
        <foreach collection="areaList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by wc.id desc
        limit 1

    </select>
    <select id="findLastNextByCity" resultType="com.cjyc.common.model.entity.WaybillCar">
        select
        wc.*
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        where wc.order_car_id = #{orderCarId}
        and w.state &lt;= 100
        and wc.end_area_code in
        <foreach collection="areaList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by wc.id desc
        limit 1
    </select>
    <select id="countForValidateRepeatTrunkDisPatch" resultType="java.lang.Integer">
        select
        count(0)
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        where w.state &lt; 100
        and wc.start_area_code in
        <foreach collection="areaList" index="index" item="item" open="(" separator="," close=",">
            #{item}
        </foreach>
    </select>
    <select id="findListLocal" resultType="com.cjyc.common.model.vo.web.waybill.LocalListWaybillCarVo">
        select
            (case
            when wc.state = 0 then '待指派'
            when wc.state = 2 then '已指派'
            when wc.state = 5 then '待装车'
            when wc.state = 15 then '待装车确认'
            when wc.state = 45 then '已装车'
            when wc.state = 70 then '已卸车'
            when wc.state = 90 then '确认交车'
            when wc.state = 100 then '确认收车'
            end
            ) as outterState,
            w.carrier_id as carrierId,
            w.carrier_type as carrierType,
            w.carrier_name as carrierName,
            w.create_time as createTime,
            w.create_user as createUser,
            w.create_user_id as createUserId,
            oc.brand as brand,
            oc.model as model,
            oc.plate_no as plateNo,
            oc.vin as vin,
            t.driver_name as driverName,
            t.driver_phone as driverPhone,
            t.driver_id as driverId,
            t.vehicle_plate_no as vehiclePlateNo,
            wc.*
        from w_waybill w
        join w_waybill_car wc on wc.waybill_id = w.id
        join w_order_car oc on wc.order_car_id = oc.id
        left join w_task_car tc on tc.waybill_car_id = wc.id
        left join w_task t on tc.task_id = t.id
        <where>
            and
            <if test="paramsDto.brand != null and paramsDto.brand != ''">
                and oc.brand = #{paramsDto.brand}
            </if>
            <if test="paramsDto.model != null and paramsDto.model != ''">
                and oc.model = #{paramsDto.model}
            </if>
            <if test="paramsDto.plateNo != null and paramsDto.plateNo != ''">
                and oc.plate_no = #{paramsDto.plateNo}
            </if>
            <if test="paramsDto.vin != null and paramsDto.vin != ''">
                and oc.vin = #{paramsDto.vin}
            </if>
            <if test="paramsDto.type != null and paramsDto.type != 0">
                and w.type = #{paramsDto.type}
            </if>
            <if test="paramsDto.carrierType != null">
                and w.carrier_type = #{paramsDto.carrierType}
            </if>
            <if test="paramsDto.waybillNo != null and paramsDto.waybillNo != ''">
                and wc.waybill_no = #{paramsDto.waybillNo}
            </if>
            <if test="paramsDto.orderCarNo != null and paramsDto.orderCarNo != ''">
                and wc.order_car_no = #{paramsDto.orderCarNo}
            </if>
            <if test="paramsDto.startProvinceCode != null and paramsDto.startProvinceCode != ''">
                and wc.start_province_code = #{paramsDto.startProvinceCode}
            </if>
            <if test="paramsDto.startCityCode != null and paramsDto.startCityCode != ''">
                and wc.start_city_code = #{paramsDto.startCityCode}
            </if>
            <if test="paramsDto.startAreaCode != null and paramsDto.startAreaCode != ''">
                and wc.start_area_code = #{paramsDto.startAreaCode}
            </if>
            <if test="paramsDto.storeId != null">
                and wc.start_store_id = #{paramsDto.storeId}
            </if>
            <if test="paramsDto.endProvinceCode != null and paramsDto.endProvinceCode != ''">
                and wc.end_province_code = #{paramsDto.endProvinceCode}
            </if>
            <if test="paramsDto.endCityCode != null and paramsDto.endCityCode != ''">
                and wc.end_city_code = #{paramsDto.endCityCode}
            </if>
            <if test="paramsDto.endAreaCode != null and paramsDto.endAreaCode != ''">
                and wc.end_area_code = #{paramsDto.endAreaCode}
            </if>
            <if test="paramsDto.storeId != null">
                and wc.end_store_id = #{paramsDto.storeId}
            </if>
            <if test="paramsDto.beginExpectStartTime != null">
                and wc.expect_start_time &gt;= #{paramsDto.beginExpectStartTime}
            </if>
            <if test="paramsDto.endExpectStartTime != null">
                and wc.expect_start_time &lt;= #{paramsDto.endExpectStartTime}
            </if>

            <if test="paramsDto.takeType != null and paramsDto.takeType != 0">
                and wc.take_type = #{paramsDto.takeType}
            </if>
            <if test="paramsDto.loadLinkName != null and paramsDto.loadLinkName != ''">
                and wc.load_link_name = #{paramsDto.loadLinkName}
            </if>
            <if test="paramsDto.loadLinkUserId != null and paramsDto.loadLinkUserId != ''">
                and wc.load_link_user_id = #{paramsDto.loadLinkUserId}
            </if>
            <if test="paramsDto.loadLinkPhone != null and paramsDto.loadLinkPhone != ''">
                and wc.load_link_phone = #{paramsDto.loadLinkPhone}
            </if>
            <if test="paramsDto.beginLoadTime != null">
                and wc.load_time &gt;= #{paramsDto.beginLoadTime}
            </if>
            <if test="paramsDto.endLoadTime != null">
                and wc.load_time &lt;= #{paramsDto.endLoadTime}
            </if>
            <if test="paramsDto.unloadLinkName != null and paramsDto.unloadLinkName != ''">
                and wc.unload_link_name = #{paramsDto.unloadLinkName}
            </if>
            <if test="paramsDto.unloadLinkUserId != null and paramsDto.unloadLinkUserId != ''">
                and wc.unload_link_user_id = #{paramsDto.unloadLinkUserId}
            </if>
            <if test="paramsDto.unloadLinkPhone != null and paramsDto.unloadLinkPhone != ''">
                and wc.unload_link_phone = #{paramsDto.unloadLinkPhone}
            </if>
            <if test="paramsDto.beginUnloadTime != null">
                and wc.unload_Time &gt;= #{paramsDto.beginUnloadTime}
            </if>
            <if test="paramsDto.endUnloadTime != null">
                and wc.unload_time &lt;= #{paramsDto.endUnloadTime}
            </if>

        </where>


    </select>

</mapper>
