<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IWaybillDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Waybill">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="type" property="type" />
        <result column="dispatch_type" property="dispatchType" />
        <result column="guide_line" property="guideLine" />
        <result column="recommend_line" property="recommendLine" />
        <result column="carrier_id" property="carrierId" />
        <result column="car_num" property="carNum" />
        <result column="state" property="state" />
        <result column="freight_fee" property="freightFee" />
        <result column="freight_pay_state" property="freightPayState" />
        <result column="create_time" property="createTime" />
        <result column="freight_pay_time" property="freightPayTime" />
        <result column="freight_pay_billno" property="freightPayBillno" />
        <result column="fixed_freight_fee" property="fixedFreightFee" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, type, dispatch_type, guide_line, recommend_line, carrier_id, car_num, state, freight_fee, freight_pay_state, create_time, freight_pay_time, freight_pay_billno, fixed_freight_fee, remark, create_user, create_user_id
    </sql>
    <update id="updateStateBatchByNos">
        update w_waybill
        set state = #{state}
        <where>
            and state &lt; 15
            and no in
            <foreach collection="waybillNoList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>

    </update>
    <select id="findByNo" resultType="com.cjyc.common.model.entity.Waybill">
        select
        <include refid="Base_Column_List"/>
        from w_waybill
        where no = #{waybillNo}
    </select>
    <select id="findListByNos" resultType="com.cjyc.common.model.entity.Waybill">
        select
        no
        from w_waybill
        <where>
            no in
            <foreach collection="waybillNoList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>

    </select>

</mapper>
