<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IWaybillCarDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.auto.WaybillCar">
        <id column="id" property="id" />
        <result column="waybill_id" property="waybillId" />
        <result column="order_car_id" property="orderCarId" />
        <result column="freight_fee" property="freightFee" />
        <result column="start_address" property="startAddress" />
        <result column="end_address" property="endAddress" />
        <result column="start_area_code" property="startAreaCode" />
        <result column="end_area_code" property="endAreaCode" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, waybill_id, order_car_id, freight_fee, start_address, end_address, start_area_code, end_area_code, state
    </sql>

</mapper>
