<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyc.common.model.dao.IWaybillDao">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjyc.common.model.entity.Waybill">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="type" property="type" />
        <result column="source" property="source" />
        <result column="guide_line" property="guideLine" />
        <result column="recommend_line" property="recommendLine" />
        <result column="carrier_id" property="carrierId" />
        <result column="carrier_name" property="carrierName" />
        <result column="car_num" property="carNum" />
        <result column="state" property="state" />
        <result column="freight_fee" property="freightFee" />
        <result column="freight_pay_state" property="freightPayState" />
        <result column="freight_pay_time" property="freightPayTime" />
        <result column="freight_pay_billno" property="freightPayBillno" />
        <result column="fixed_freight_fee" property="fixedFreightFee" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, type, source, guide_line, recommend_line, carrier_id, carrier_name, car_num, state, freight_fee, freight_pay_state, freight_pay_time, freight_pay_billno, fixed_freight_fee, remark, create_time, create_user, create_user_id
    </sql>
    <update id="updateStateBatchByNos">
        update w_waybill
        set state = #{state}
        <where>
            and state &lt; 15
            and no in
            <foreach collection="waybillNoList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>

    </update>
    <select id="findByNo" resultType="com.cjyc.common.model.entity.Waybill">
        select
        <include refid="Base_Column_List"/>
        from w_waybill
        where no = #{waybillNo}
    </select>
    <select id="findListByNos" resultType="com.cjyc.common.model.entity.Waybill">
        select
        no
        from w_waybill
        <where>
            no in
            <foreach collection="waybillNoList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="findHistoryList" resultType="com.cjyc.common.model.vo.web.waybill.HistoryListWaybillVo">
        select
            w.type as type,
            wc.waybill_no as waybillNo,
            wc.start_city_code as startCityCode,
            wc.start_city_name as startCityName,
            wc.end_city_code as endCityCode,
            wc.end_city_name as endCityName,
            wc.start_address as startAddress,
            wc.end_address as endAddress,
            w.carrier_id as carrierId,
            w.carrier_name as carrierName,
            t.driver_id as driverId,
            t.driver_name as driverName,
            t.driver_phone as driverPhone,
            wc.pick_contact_name as pickContactName,
            wc.pick_contact_phone as pickContactPhone,
            wc.expect_start_time as expectStartTime,
            wc.expect_end_time as expectEndTime,
            tc.load_time as loadTime,
            tc.unload_time as unloadTime
        from w_order_car oc
        left join w_waybill_car wc on wc.order_car_id = oc.id
        left join w_waybill w on wc.waybill_id = w.id
        left join w_task_car tc on tc.waybill_car_id = wc.id
        left join w_task t on t.id = tc.task_id
        <where>
            wc.order_car_id = #{paramsDto.orderCarId}
            and w.type = #{paramsDto.type}
        </where>
    </select>
    <select id="findByOrderCarId" resultType="com.cjyc.common.model.entity.Waybill">
        select
        <include refid="Base_Column_List"/>
        from w_waybill_car wc
        join w_waybill w on wc.waybill_id = w.id
        where wc.order_car_id = 1
        GROUP BY w.id

    </select>
    <select id="findTrunkStateListByOrderCarId" resultType="java.lang.Integer">
        select
        w.state
        from w_waybill_car wc
        join w_waybill w on wc.waybill_id = w.id
        where wc.order_car_id = #{orderCarId}
        and w.type = 3
        GROUP BY w.id
    </select>

</mapper>
